[2018-02-19 15:21] faern opened #2 "What makes the first variant of enums valid as defaults?"
I see that with the help of the macro `impl_var` you make the first variant of each enum the default variant: https://github.com/jbaublitz/neli/blob/master/src/ffi.rs#L24.

What makes the first variant a correct representation of the default value for that type? For example `NlFamily::Route` becomes the default value for `NlFamily`. For many of these enums I don't see why they should have a defaul

[2018-02-19 20:47] jbaublitz commented on #2
@faern So `Default` is mainly there for historical reasons (at one point I was playing around with procedural macros before I realized that netlink was not consistent enough to have macros cover the use cases I wanted the majority of the time without manually implementing some cases). The more I look at it, the more I realize that if it stays (which I'm not convinced it should), `UnrecognizedVaria

[2018-02-19 21:13] faern commented on #2
Then I personally prefer no `Default` over a default that is always pointing to an "invalid" variant. Does not sound very useful in practice.

Are you sure you want to deserialize invalid values to `UnrecognizedVariant`? It sounds to me like the deserialization should fail and return an error instead. Would probably be much more convenient to handle using `?` etc than having to manually match and

[2018-02-19 21:16] faern commented on #2
Previously when I have been dealing with converting integers into enums I have not implemented
`From<$ty> for $enum_type`, since that is infallible, and there are invalid values that can be inserted. Instead I usually add a method
[code]
Or maybe `Result` instead of `Option` and have it always be some `ErrorKind::InvalidValue` or similar.

[2018-02-19 21:25] jbaublitz commented on #2
My concern with that is mainly because of the ability to define custom netlink families with IDs that are not able to be parsed as well as standard IDs in responses that do not seem to be documented or available in the headers. I added in the variant because of specific behavior I was getting from the ACPI bus in my project `pwrsurge`. The ID of the value for the netlink type in the response was n

[2018-02-19 21:34] faern commented on #2
Ah, valid point to support values we don't know about indeed. But maybe that could be limited to only the enums where it's applicable, or can there be unknown constants coming out of all of the ones using `impl_var!`?

[2018-02-19 21:42] jbaublitz commented on #2
From what I've seen digging through the kernel code, even attribute type in the `nlattr` struct can sometimes signify a list index in the case of a list of nested attributes or a legitimate type that is defined in headers. I think to really make it clear to the user, it is important to have a fallback in all cases as netlink is one of the more C-driven protocols I've seen. I had to pop open the ke

[2018-02-24 18:47] jbaublitz commented on #2
I have updated with a no-default-needed way of doing things. Closing.

[2018-02-24 18:47] #2 closed

[2018-03-24 13:08] jbaublitz opened #6 "Move remaining C linked constants over to libc crate constants"
Due to a recent pull request, the rest of the netlink constants used in this library should now be in libc. Move these all over to the libc crate and rip out the C dependency.

[2018-03-25 15:31] jbaublitz commented on #6
Resolved by b8c8130efa67004ba3d696cb0f453f7d862d3beb

[2018-03-25 15:31] #6 closed

[2018-05-06 23:13] kpcyrd opened #7 "Provide examples"
hey!

I've tried to setup NETLINK_ROUTE+RTMGRP_LINK to monitor interface changes, but I'm having trouble getting the library to work, could you provide some examples for neli in an `examples/` folder? :)

Thanks!

[2018-05-07 21:02] jbaublitz commented on #7
@kpcyrd This is definitely a gap currently. If you need examples before the next release, please look at the netlink portion of my other projects, holy196 or pwrsurge as they both use neli for netlink communication. I will however keep this open to keep track of this for the next release. I've also looked through the documentation I have so far on docs.rs and need to give that some additional atte

[2018-05-21 13:38] jbaublitz commented on #7
@kpcyrd Just wanted to update you. I did some testing this week on the next release to make sure that it is backwards compatible with the current release and will be adding examples over the course of the next week and will then release the next version on crates.io.

[2018-05-27 18:35] jbaublitz commented on #7
@kpcyrd Could you give some specific areas that would be helpful for me to document?

Things I'm currently documenting in the examples directory:
1. Resolving generic netlink multicast group ids
2. Resolving generic netlink family ids
3. `Nl` trait and serializing/deserializing structs/enums that implement it
4. `tokio` support for `NlSocket`
5. `send`/`recv` vs. `send_nl`/`recv_nl`
6. Parsing net

[2018-05-27 20:22] jbaublitz opened #8 "Update all autogenerated documentation"
Docs should give a high level overview on netlink and also provide examples.

[2018-07-21 23:11] jbaublitz opened #9 "Migrate neli serialization to `buffering` crate"
Currently I'm developing a crate to handle buffer operations primarily targeting network packet serialization. I plan to migrate neli's serialize/deserialize functionality and offload those to the buffering crate.

[2018-07-22 14:44] jbaublitz commented on #9
Fixed in 0.3.1

[2018-07-22 14:44] #9 closed

[2018-07-22 19:56] jbaublitz commented on #7
@kpcyrd I may be able to help here. I dug into the kernel code for rtnetlink and it is notifying via multicast groups. In the interest of resolving this issue as efficiently as possible, can you answer a few questions before I dive in?

* Is the prototype you're working on public?
* Are you familiar with multicast groups in netlink and how those work?
* Have you taken a look at the documentation f

[2018-07-22 21:10] kpcyrd commented on #7
I know very little about netlink or it's multicast groups. I've digged through the ifplugd code for a bit and it seems RTMGRP_LINK is the group I need.
[code]

That should roughly translate to:
[code]

Assuming the code that is setting up the socket is correct, I can't get the receive to work.

This might be the point where I'm currently stuck. :)

[2018-07-22 22:42] jbaublitz commented on #7
Ok, this is very helpful. I will dig around a bit and update the docs and provided structs for this. Once I've provided the necessary structs, I will post some example code here as well specific to what you're hoping to do.

[2018-07-31 02:33] jbaublitz commented on #7
@kpcyrd Update: I have started working on the structs for rtnetlink. I needed to look into this portion of netlink and will hopefully have some results soon. Be advised that the next release will have a _lot_ of breaking changes around the module and struct naming to clean up some of my past sins.

[2018-10-14 22:15] jbaublitz commented on #7
@kpcyrd I got pulled away from this project for a while but am back on it. You should see some additions here and potentially linked to [this issue](https://github.com/rust-lang/libc/issues/1059) in libc as I add to `rtnl.rs` in neli. Sorry for the long delay.

[2018-10-29 19:11] mhristache commented on #7
the current api is very low level. do you have any plans to add a higher level api?

[2018-11-22 19:20] jbaublitz commented on #7
Hi @mhristache, I sincerely apologize for the delay. There is a higher level API that is not currently documented with examples. It uses tokio to essentially process a stream of Netlink message structs. Is this the kind of higher level API to which you're referring?

If so, today my plan is to try to tackle some of the documentation so that my library is a bit more usable than it is today. Code sh

[2018-12-18 01:06] jbaublitz commented on #7
@kpcyrd `rtnl.rs` is slowly coming along. The delay is partially due to my laptop crashing and partly due to me needing to explore this subsystem of netlink so I do it right. Hopefully version 0.4.0 will be out within the next few weeks.

@mhristache I'd be really interested in your feedback if you'd be willing to open another issue for a higher level API and we can discuss there. That has been so

[2018-12-23 17:23] jbaublitz opened #10 "rtnetlink support"
Support documented functionality in `man 7 rtnetlink`. This will require a PR to libc which is currently in the works [here](https://github.com/jbaublitz/libc/tree/nl_consts_pr).

[2018-12-31 04:28] Dieff opened #11 "Create an `impl Nl for u64` to help support `u64`s in Netlink responses"
In `src/lib.rs` there are implementations of the `Nl` trait for a number of common types. An unsigned 64 bit integer (`u64`) is another common type that does not have an yet have implementation. This type can be found in several Netlink apis, including [Wireguard](https://github.com/WireGuard/WireGuard/blob/master/src/uapi/wireguard.h) (see the attribute `WGPEER_A_RX_BYTES`). It would help develop

[2018-12-31 13:07] jbaublitz commented on #11
@Dieff Hey there! I'm happy to accept a PR or work this into the 0.4.0 release. Either way, just let me know which you would prefer so we don't duplicate work.

[2018-12-31 13:16] jbaublitz commented on #11
If you would like it as soon as possible, let me know and I'll branch off of the last release and add a revision release and push that to crates.io then incorporate that into 0.4.0. Unfortunately I've been pulled in a few different directions so that release is taking a bit longer than I'd hoped.

[2018-12-31 17:19] Dieff commented on #11
I think I'll take a stab at writing the impl as it seems pretty simple and it would be nice for me to have quickly. I'll open a pr when I get it working.

[2019-01-02 10:49] jbaublitz commented on #11
#12 merged.

As discussed, please open another issue regarding the `impl Nl` discussion as I'd definitely like to resolve that with you. Thanks!

[2019-01-02 10:49] #11 closed

[2019-01-03 09:07] mhristache commented on #7
@jbaublitz sorry for my late reply. I was on a long vacation.
What I mean by a high level API is something similar to e.g. [pyroute2](https://github.com/svinota/pyroute2) lib, i.e. something that hides all the netlink complexity behind a nice and simple api. There are several other rust libs that are progressing in this space (they are nicely summarized [here](https://crates.io/crates/rtnetlink)).

[2019-01-03 22:07] jbaublitz commented on #7
@mhristache I've considered it. I'm happy to discuss in more detail but I could envision something like a `NlSession` struct handling the top level netlink packets (things like the `seq` number, `pid`, etc.) at the very least and some more convenience functions. I've been wanting to rework the API significantly to be a little more user friendly for 0.5.0. Docs will be significantly better by 0.4.0

[2019-01-14 21:23] Dieff opened #13 "Users cannot cleanly define new `impl Nl`s for common types because of orphan trait rules"
It is common when using `neli` to find Netlink message attributes that map to some sort of C data structure, like `struct timespec` or `struct in_addr`. When working with Netlink apis that send back this type of message, it makes sense to create an implementation of `Nl` for whatever data type the attribute uses, and then incorporate it into code that decodes or encodes the messages. Unfortunately

[2019-01-28 21:34] jbaublitz commented on #13
Hi @Dieff, my preference would be to allow either but ultimately be very PR-friendly for more common types much like the `libc` crate is for constants. Originally I envisioned users writing their own types but I want to support as many common workflows out of the box as possible. If you could post a more exhaustive list here of types you'd like to see included, I'd be happy to discuss whether that

[2019-04-13 22:29] gluxon opened #15 "Handle multiple netlink messages in single response"
I'm not sure what circumstances this occurs under, but occasionally the kernel can return multiple Netlink messages in the same `libc::recv` call. When this happens, neli interprets the second packet's bytes as an attribute of the first message (which is incorrect).

https://github.com/jbaublitz/neli/blob/1925ba1b3d876f981d0817bbf28ec22b311e6dcf/src/socket.rs#L140-L148

IMHO, `NlSocket::recv` shou

[2019-04-13 23:45] jbaublitz commented on #15
Hello! Thanks for opening an issue. I'm just starting back up with this project after not having been able to look at it for a bit.

A few notes:
1. Netlink can indeed have a netlink headers nested within an attribute of another message as is the case with error messages. An error message or an ACK at the protocol level will return a message with a certain `nl_type` indicating whether it is an ACK

[2019-04-14 02:09] gluxon commented on #15
Thanks for the response! Didn't expect one so quickly. I appreciate the work you've done on this library and it's definitely been super useful to me.

I wasn't aware of this behavior and you may be right that this is what's happening. Let me try to clarify and see if we're both talking about the same thing though.

I'm trying to receive Netlink multipart messages that have a final `NLMSG_DONE` mes

[2019-04-14 02:58] jbaublitz commented on #15
Hey @gluxon this follow-up is super helpful so thank you. Let me do a little investigation and refresh my memory on `NLMSG_DONE` and get back to you. This protocol is so large, finicky, and unforgiving it can be really difficult to keep all of the details in my head at the same time sometimes. I've been meaning to write some blog posts on what I'm bumping into for other people in the future who de

[2019-04-14 05:07] gluxon commented on #15
Glad to hear! I do have an example coming, but take your time on anything you need to do. It's definitely been difficult to find documentation on Netlink related things, so happy to hear you might have some blog posts in the future.

Huh. Perhaps I got lucky and the kernel module I'm working with is simple, but I personally worked around this by treating `nla_nested` as an attribute and defining i

[2019-04-14 05:10] gluxon commented on #15
Okay, I have a better example. Sorry, I should have tried to provide this from the start so we both knew what was going on better.

## An Example

The following program mimics the `genl ctrl list` command. This prints out all of the generic netlink families available on the host. I used `0.3.1` of this crate, but I'm sure the code on `develop` behaves the same way.

[code]

This outputs:

[code]

[2019-04-14 13:39] jbaublitz commented on #15
Interesting! Thank you for the example. Looking at this, I can confirm this is not the desired behavior and is probably some kind of parsing error. This may indeed be what you originally suggested describing after looking at the debug information and my own code. I can point you to what I found if that's helpful but ultimately this seems to boil down to a combination of factors:
1. The assumption

[2019-04-14 21:21] gluxon commented on #15
Thanks. Take your time.

I gave an attempt this afternoon and decided to ask you to put together the PR. I'm still a novice at Rust and I think you'd do a much better job.

Glad to hear!

You've most certainly done a good job! All of my "why does the API work this way?" questions made sense after understanding Netlink better.

[2019-04-18 00:45] jbaublitz commented on #7
To anyone following along (I know, it's been a really long time and I apologize), I'm revamping the documentation piece by piece. There's an outstanding PR for providing documentation for constants that I'm going to wait for a few days to merge as I pulled the author's changes into a new branch and made some edits and want to give a chance for feedback. This is one step in making the documentation

[2019-04-18 00:47] jbaublitz commented on #10
Anyone looking to contribute or follow along, the work is partially in master and will continue to be developed from here on out on the `rtnl-dev` branch.

[2019-04-18 00:50] jbaublitz commented on #13
I'm going to close out this issue as I never heard back. My current suggestion until I hear otherwise is either wrap the type in a newtype struct in your code or contribute a PR for more generally useful types if you don't want to have to support it. I don't see a whole lot of other options unfortunately after reading up on this. Thanks for bringing this up!

[2019-04-18 00:50] #13 closed

[2019-04-18 00:51] jbaublitz commented on #15
Hi @gluxon, trying to play catch up on a few things I let stagnate in my issues before diving into this. I am going to try to get this done in the next week and will report back here on the name of the feature branch once I make it so you can follow along. Thanks for your patience!

[2019-04-18 14:41] jbaublitz commented on #15
I'd like to get your input on something. I was thinking that, as opposed to returning a vector for netlink messages, I could provide an iterator-like handling for multiple messages. I bring this up because `Vec`s do heap allocate and while this may not be a problem, there was a previous issue that wanted at least some control over where the memory was allocated. While that was more in the buffer c

[2019-04-18 19:06] gluxon commented on #15
That makes a lot of sense. I don't see the downsides of returning something Iterator-like, and you get the benefits that you mentioned. Thanks!

[2019-04-19 23:38] jbaublitz commented on #10
## Important note

The support for structs that could follow `rtattr` headers will only support what is currently documented. Netlink is simply too varied for me to track down every single type of payload. I'm designing the `rtattr` with this in mind and will make sure to accept PRs if your use case happens not to be supported.

[2019-04-22 01:53] jbaublitz commented on #15
Hi @gluxon, I have pushed most of the work for the change to the `multi-msg-feature` branch. I'm going to add some more testing and will probably have to rework the `tokio` integration which has not been done. However, feel free to take a look and see if it looks reasonable to you.

## Overview
* `recv_nl` has changed to initialize an internal buffer from which messages can be deserialized
* `recv

[2019-04-22 17:26] jbaublitz commented on #15
I decided to try the `.iter()` method approach and it's actually a lot cleaner overall so I will probably take that path.

[2019-04-22 19:09] gluxon commented on #15
I did think it was a bit weird to have `Iterator` defined on `NlSocket` itself. Glad to hear that this approach is cleaner. It does make more sense to me.

Should I wait a bit longer for the `.iter()` approach to be pushed before looking at the `multi-msg-feature` branch?

And thanks for the quick turnaround time on this change!

[2019-04-22 19:29] gluxon commented on #15
I'm sure you've thought about this, but what are your thoughts on [`Box`ing each `Nlmsghdr`](https://doc.rust-lang.org/1.30.0/book/second-edition/ch17-02-trait-objects.html#defining-a-trait-for-common-behavior) that's returned? The benefit is that it would allow `.iter()` to return heterogeneous messages, but introduce a runtime cost.

[2019-04-23 19:10] jbaublitz commented on #15
Ah yes, I've played around with similar concepts before. The issue here is that you still need to provide a type for the generics. There are very specific rules around this and I've tried everything from trait objects to all kinds of things with generic type constraints. Granted, I've never tried it with this new method and I will do some investigation to see how doable that is. I have tried this

[2019-04-24 19:18] jbaublitz commented on #15
Ok, did some investigation. I would have to make the type `Box<Nl>` which is an option but does obfuscate the meaning a bit. Even if I did do it the way you suggest, there would be no way to pass types to each `.next()` call which is what drives the deserialization in the first place when message types differ from each other. I don't think this is doable unfortunately but am continuing on with wor

[2019-04-24 23:00] gluxon commented on #15
Thanks for giving it a shot!

I mentioned it in a comment on the commit, but if I may ask here: I still see Nlmsghdr::deserialize drain the entire buffer. That change hasn't been made yet, right?

[2019-04-25 17:10] jbaublitz commented on #15
Not yet, working on it now. It slipped my mind, sorry about that!

[2019-04-28 13:31] jbaublitz commented on #15
I've done some thinking about how to address the error idea you mentioned in the case of `.next()` and what I've decided on is this:
* `.next()` will discard the buffer when it reaches an error as will `.nl_next()`
* `.nl_next_override()` will rewind the buffer to the position before the `.read()` call
I think this makes the most sense as `.next()` and `.nl_next()` can never be used to try, fail,

[2019-04-29 19:25] gluxon commented on #15
Oh, I like this.

I don't think it's any better (and I certainly wouldn't change things if you've started implementing the above), but I was thinking of this from the `TryFrom`/`TryInto` angle before our comment. In this scenario, `.next()` and `.nl_next_override()` would just return an `Option`, which could be unwrapped and converted to some `Nl` struct. Just my 2 cents; probably not worth trying

[2019-04-29 19:38] gluxon opened #17 "Nlattr construction payloads should pad to a multiple of NLMSG_ALIGNTO bytes"
Hey John, I want to avoid piling a bunch of issues on you, so please feel free to ignore this if you're busy. I had some protocol errors and discovered this as the cause and just wanted to file it somewhere. I think the fix is easy, so I'll do a pull request myself within a few weeks.

I think `NlAttrHdr` payload construction methods should be padding aware. To [quote libnl](http://www.infradead.o

[2019-04-29 23:35] jbaublitz commented on #17
Hi Brandon, not a problem. I'd rather know when things aren't working as expected. Currently bumping into some issues around how I solved stateful size calculations with regards to #15. I'm going to finish that up soon and after that will prioritize this. Thanks!

[2019-04-30 11:02] jbaublitz commented on #17
Hi Brandon, I've bumped into a situation where I actually need to solve this before the multiple message issue #15! The problem boils down to this. To handle multiple messages, I've needed to rework the traits a bit to be more flexible around how size is hinted when deserializing so that `Vec`s can be properly hinted and do not consume the rest of the buffer. These two problems are actually tightl

[2019-04-30 11:04] jbaublitz commented on #15
Currently blocked by #17

[2019-04-30 18:20] gluxon commented on #17
That's weird. To make sure I'm understanding you correctly, you're saying some ACPI event netlink messages require padding strings within structs? Where the entire struct is a Netlink attribute and the string is not (an attribute)? I think I might be misreading the above since it contradicts the first bullet point.

I may not have fully understood this either. I may be missing something, but is th

[2019-04-30 18:59] gluxon commented on #17
Nevermind, I see what you meant. You were saying that the library currently assumes that strings within structs are padded, but this typically isn't the case.

Hm.. to elaborate on my comment above, I don't know if an explicit `NlPadding` type (following the payload) is necessary since `len` is the unpadded size. I suppose it doesn't hurt to do though.

[2019-04-30 21:27] jbaublitz commented on #17
I was just about to get back to you and try to reword but I think we're on the same page now! I guess my idea with explicitly mentioning whether a struct should be padded or not came from my learning curve dealing with netlink. I had a lot of unfortunate encounters with padding bugs when first writing this library so I wanted to make it a little more readable to the user. However, I just finished

[2019-05-03 20:46] jbaublitz commented on #17
Just made a very big commit that should help fix some problems with the way that I designed the traits themselves. It is a breaking change but I think it will make my life and the life of developers using the library a lot easier. 8904c9edcec2899c93320d51f4b455895b63fffe fixes some things that have made me kinda tie myself in knots while writing this through changes to [buffering](https://github.c

[2019-05-07 00:39] gluxon commented on #17
Cool stuff! Thanks for the update.

No worries! Take your time. I appreciate that you're doing this at all.

[2019-05-08 18:45] jbaublitz commented on #15
Okay, excellent. Pushed the last big change and have done some testing in my project that uses neli, added a program (`acpi_stream`) to neli that debugs ACPI events sent from the kernel, and I'm about to write a test that multiple messages deserialize properly from the same buffer. That'll be done soon so I'm going to have you test it on your end and once you've confirmed it works, I'll close this

[2019-05-08 19:53] gluxon commented on #15
Wonderful. Would you appreciate the example (listing interfaces using genlctrl) listed above incorporated as an example binary? (In addition to the multiple message test you're going to add.)

[2019-05-09 00:17] jbaublitz commented on #15
I can definitely add that in!

[2019-05-09 00:18] jbaublitz commented on #17
I think I've fixed this! I'm pushing this to the same branch as #15.

[2019-05-10 15:15] jbaublitz commented on #17
No rush, of course but lemme know on this issue and the multiple messages issue if either or both have been resolved. I've rebased my rtnetlink work onto this branch because of some fundamental design changes these two issues required. I will keep working off of the `rtnl-dev` branch but I'll leave `multi-msg-feature` unmerged for now so I can add anything else you may need before closing these. T

[2019-05-11 20:56] gluxon commented on #17
The changes you've made work really well for multiple messages! Thanks.

I have yet to do some padding tests. I'll respond again once I do that.

[2019-05-11 22:44] jbaublitz commented on #17
Okay sounds good! Glad to hear it's working on your end.

[2019-05-12 19:56] gluxon commented on #17
So on the `multi-msg-feature` branch, following snippet:

[code]

currently prints out

[code]

I believe `nla_len` should be `6`. `4` bytes for the header plus `2` bytes for the `u16`. From looking at genl ctrl, padding doesn't seem to be counted as a part of the length.

I haven't found any Linux documentation explicitly stating that `nla_len` doesn't count padding, but libnl's `nla_len` doesn't

[2019-05-13 15:23] jbaublitz commented on #17
You're absolutely right on this. I missed this and I see where the problem is: I added padding to the payload in the function `::new_nl_payload` which breaks `.size()`. This should only be done in the `.serialize()` function for `Nlattr` because only that function should handle alignment. I'm making those changes now. Thanks for catching this.

[2019-05-13 16:37] jbaublitz opened #19 "Better way for parsing trait-marked constants in struct fields"
The current way I get around the many constants that can be passed into certain fields like `Nlmsghdr.nl_type` is separating each set of constants into its own finite enum and marking the enum as compatible with this field by implementing the `NlType` trait for that enum. This is a good first step but a use case that came up in [this pull request](https://github.com/jbaublitz/neli/pull/18) made it

[2019-05-13 17:13] jbaublitz commented on #17
I'm just pushed tests as well to make sure I don't break this moving forward. I had removed tests for this during module refactoring and realized I should rewrite them.

[2019-05-18 01:17] jbaublitz commented on #17
I'm going to merge `multi-msg-feature` and close this. Feel free to comment here if it's not resolved and I'll reopen. Thanks!

[2019-05-18 01:17] #17 closed

[2019-05-18 01:17] jbaublitz commented on #15
I'm going to merge `multi-msg-feature` and close this. Feel free to comment here if it's not resolved and I'll reopen. Thanks!

[2019-05-24 13:34] jbaublitz commented on #10
Everything that is documented in `man 7 rtnetlink` should now be supported in branch `rtnl-dev`. Closing this out and will merge `rtnl-dev` to `master`.

[2019-05-24 13:34] #10 closed

[2019-05-24 13:37] jbaublitz commented on #7
Some examples have been added to `neli` and they are tested in CI so any breaking changes to the API will cause tests to fail if the examples are not updated to work with the changes. I'm going to keep tracking documentation changes needed before `0.4.0` release in #8 but the example portion should be closed. Let me know if I should reopen but I'm going to close this out.

[2019-05-24 13:37] #7 closed

[2019-05-24 17:38] jbaublitz opened #20 "Rework high-level NlSocketHandle API and potentially add a higher level API on top"
I am considering implementing higher level structs with some provided convenience functions:
* `NetlinkStream`
* `NetlinkSession`

Most of the work is already in place to make `NetlinkStream` work as it would simply receive and parse netlink messages as they become ready on the socket.

`NetlinkSession` would take a little more redesigning to enable tracking sequence numbers and netlink socket PID

[2019-05-27 16:50] jbaublitz commented on #19
I've been considering this and it may make the most sense to implement methods in the marker trait. Do you have any thoughts on this @gluxon?

[2019-05-27 17:43] jbaublitz commented on #8
This should be all done. Will release `0.4.0`.

[2019-05-28 05:11] gluxon commented on #19
Were you thinking of adding a deserialization method, or something else?

[2019-05-31 15:12] manuels opened #21 "Creating nested attributes"
A while ago this library had a `NlAttrHdr::new_nested()` function but it seems to be removed.
Is there an alternative function to create nested attributes?

[2019-06-02 21:40] jbaublitz commented on #21
Hi @manuels, as you noticed, there were some breaking changes in `v0.4.0`. As I was unable to release the version due to a `libc` PR, I am open to including some changes before release. I think the issue here boils down to the way `Genlmsghdr` attributes are structured, is that correct? `Genlmsghdr`s require a vector of attributes which now cannot easily be created as nested attributes. If this is

[2019-06-02 21:45] jbaublitz commented on #19
What I'm considering is some sort of approach that takes advantage of the fact that every enum that implements a given marker trait will have variants such that when each variant is converted to an integer, it will have a unique value across all variants in the set of variants for enums implementing the marker trait. This is guaranteed because each integer value must be unique in fields that are n

[2019-06-02 21:45] #8 closed

[2019-06-03 19:35] jbaublitz commented on #21
Hi @manuels, after reviewing my changes I realized that there is already a new way to do this. I originally thought there was but got tripped up by the type `impl`s before writing my previous comment. I've uploaded an example of how to do this moving forward in the `examples/` directory. The code is in the file `create-nested-attributes.rs`. I'm going to close this but please comment back and I'll

[2019-06-03 19:54] manuels commented on #21
Thanks, I'll give it a try.

[2019-06-03 21:52] jbaublitz commented on #21
No problem. Please do post back here if you run into type checking issues. Given vectors cannot have heterogeneous types, I can make some changes to some of the type definitions to allow heterogeneous trait object-based vectors if necessary. I do think this should work though as vectors of attributes should all have the same type for both the payload and type fields of the struct.

[2019-06-04 16:44] manuels commented on #21
Hi @jbaublitz, I gave it a try, but nesting like this does not work:

[code]

(I want to communicate to wireguard: https://github.com/WireGuard/WireGuard/blob/master/src/uapi/wireguard.h#L32)

[2019-06-04 17:18] jbaublitz commented on #21
Reopening. I'll see what I can do to fix this and will push `v0.4.1` once you've confirmed that you're able to create attributes without an error. For now, you can serialize attributes one by one into a buffer, but that is definitely not the workflow I want to provide for vectors of attributes moving forward.

[2019-06-10 14:45] jbaublitz commented on #21
@manuels I have pushed a method to master and updated `examples/` to explain the two ways to do this, one for heterogeneous vectors and one for homogeneous vectors. Both are now possible. Please give that a try and let me know if I should do additional work before releasing `v0.4.1`.

[2019-06-11 15:27] manuels commented on #21
@jbaublitz, the new function looks great. The only problem that I am facing right now is that this does not work for `Nlmsghdr`.

[code]

Maybe `Nlattr` could implement `neli::nlattr::Nlattr<_, std::vec::Vec<u8>>` for any payload type, so you could do

[code]

[2019-06-11 20:35] jbaublitz commented on #21
@manuels Thanks for letting me know about this. This is indeed not ideal from a usability perspective. There are work-arounds for this but what I'd prefer to do is rethink `Nlattr` just a little bit. My instinct is to do the following:
* Leave `.add_nested_attribute()` as is with a bug fix for the missing needed additional type parameter
* Add `.set_payload()` to allow on `Nlattr<T, Vec<u8>>` to e

[2019-06-12 15:28] jbaublitz commented on #21
Just a note that I considered the idea of using the `Into` trait and appreciate the suggestion but it didn't seem quite as straightforward and I personally think this will make the learning curve slightly less steep for new users. I think one type of approach (more of a builder pattern here) will make it slightly more transparent while also at least providing some type safety up front at the attri

[2019-06-14 18:14] manuels commented on #21
Hi @jbaublitz, the new functionality looks good so far. Thanks!

[2019-06-15 14:00] #21 closed

[2019-06-25 18:54] skrap opened #22 "Build fails w/ stable rust"
This crate depends on buffering, which includes a nightly-only feature flag:

[code]

Is it possible to use this crate without nightly rust?

[2019-06-25 18:54] skrap commented on #22
By the way, this is on rustc 1.35.0 (3c235d560 2019-05-20).

[2019-06-25 19:04] jbaublitz commented on #22
@skrap Hey there, thanks for bringing this to my attention. This is actually an issue in the [buffering](https://github.com/jbaublitz/buffering) crate. I'm going to close this out and we can move the discussion over there.

[2019-06-25 19:04] #22 closed

[2019-06-26 18:48] jbaublitz opened #23 "rtnetlink: Support RTM_* constants in consts.rs"
@skrap I'm opening this to track support for rtnetlink `RTM_*` constants. Current plan is to implement an `Rtm` enum that implements `NlType` so it can be used in the `Nlmsghdr.nl_type` field as the documentation states it should be able to be used. I'm going to start with the libc PR and will point to [`jbaublitz/libc`](https://github.com/jbaublitz/libc) in Cargo.toml on master until it's merged

[2019-06-26 19:25] skrap commented on #23
@jbaublitz Awesome, I'll keep an eye out here.  🥇

[2019-06-26 19:30] jbaublitz commented on #23
I saw your offer in the other issue to do an rtnetlink example using neli. This would be awesome! I haven't played much with that subsystem (but will eventually when I have time) so a PR of an example using that subsystem would be wonderful. Thanks again!

[2019-06-27 13:35] jbaublitz commented on #23
Constants are available on master. The PR has not yet been merged so until then, master points to my libc where the only changes are the PR I submitted and master now has the `Rtm` enum available in `neli`. I'll close this out once I release `v0.4.3`.

[2019-07-01 16:27] jbaublitz commented on #23
PR is merged. Updating `neli` to point at `rust-lang/libc` master branch and will release once that version's bumped.

[2019-07-01 16:44] jbaublitz commented on #20
I'm beginning work on this issue in the `v0.5.0-dev` branch.

[2019-07-07 19:54] gluxon commented on #19
So I was thinking of something like this, but it doesn't work since type ids are defined at runtime.

[code]

Yeah, I'm leaning towards this as well. Maybe a generic `NlPayload` type that has a vector of attributes. Other payloads then implement a `TryFrom` for this type.

[2019-07-13 21:18] jbaublitz opened #26 "More tests for all data types"
I need to add more tests to detect breakage earlier.

[2019-07-13 22:06] jbaublitz commented on #23
`0.4.3-r1` is up now. Closing.

[2019-07-13 22:06] #23 closed

[2019-07-15 14:24] skrap commented on #23
Back from vacation now.  I'll check it out!

[2019-07-16 19:10] skrap opened #27 "Type Troubles with rtnetlink"
Hello!

In trying to write some sample code for talking to the rtnetlink system, I ran into some difficulties using neli's type system.  A rtnetlink message's payload type depends on the `nlmsghdr`'s `nl_type` field.  A message to receive routing info (`Rtm::Getroute`) will receive a series of `Nlmsghdr<Nlmsg,Rtmsg<Rta>>`, followed by a single `Nlmsghdr<Nlmsg,NlEmpty>`.  This final message will ha

[2019-07-17 23:22] jbaublitz commented on #27
Hi @skrap, thanks for the feedback. If I'm reading correctly, I see two problems you're reporting here. One is the padding issue which I realized I had not fixed in `rtnl` right after releasing `0.4.3-r1`. I'll resolve that in `v0.4.3-r2` most likely with the help of your PR and I'll have you test before the actual release. The other is one that relates to issue #19 and the difficulty of parsing a

[2019-07-17 23:51] jbaublitz commented on #19
Hi Brandon, I've been thinking on this for a bit and I'm pretty sure I have a solution. It's going to take some reworking of the macros but I'd like to do this now rather than down the road.

### Proposed solution
I'd like to remove the macro `impl_var_trait` and rework `impl_var` and `impl_trait` as follows.

`impl_var` would accept the same parameters but also implement `TryFrom` and `TryInto` a

[2019-07-19 02:19] gluxon commented on #19
Pretty good so far.

From my understanding, the proposed reworkings of `impl_var` and `impl_trait` address the type aspect of a Netlink message. Does it extend somehow to the payload? How would I tell neli to parse a response as a `Nlmsg` payload versus a `Genlmsg` payload?

[2019-07-20 14:58] jbaublitz commented on #19
Hi Brandon, I'm not sure I understand. Can you clarify a little bit? `Nlmsghdr` already does take a type parameter to specify the type of payloads. `Nlmsghdr` also takes a type parameter that you could provide to parse `Nlmsghdr.nl_type` as an `Nlmsg`, a `GenlId`, or even with this feature, you could parse as any type that is marked as `NlType`. Does that clear things up?

[2019-07-20 20:11] jbaublitz opened #29 "Audit rtnetlink code before v0.5.0"
I need to review rtnetlink code quality and add some tests before releasing 0.4.3.

[2019-07-20 20:15] jbaublitz commented on #27
`master` has the associated PR merged. Closing.

If you have any other issues always feel free to let me know in #29. I will be reviewing rtnetlink support to see if I can improve it before v0.4.3 and it will be tracked using that issue. Thanks!

[2019-07-20 20:15] #27 closed

[2019-07-21 02:21] gluxon commented on #19
Sure. From my perspective, there's 2 (heavily related) improvements that the `ctrl-list.rs` example would benefit from. Mainly in the following section:

https://github.com/jbaublitz/neli/blob/899a5c5c11c9749accad4ccd53f4dda3a25f1de3/examples/ctrl-list.rs#L32-L42

1. The first (which I think this issue is more heavily focused on) is that the first type argument to `socket.iter` is currently `Nlmsg

[2019-07-21 05:01] gluxon commented on #15
@jbaublitz I think this broke again after commits a614a08 to c58fac2.

In most recent commit at top order:
- c58fac2f -- running, but incorrect response
- 7657225 -- crash
- a614a08 -- crash
- cbb0b41 -- working

When I run `cargo run --example ctrl-list` on `master`, I get:

[code]

The expected output is:

[code]

I'm seeing that response messages after the first one are being parsed as unrecogn

[2019-07-21 12:27] jbaublitz commented on #15
I added a test to prevent this in the future and manual testing of `ctrl-list` seems to work again. I'm going to close this out but master is good to go. Thanks for the report!

[2019-07-21 12:27] #15 closed

[2019-07-21 16:39] jbaublitz opened #30 "New netlink specific iter function checking `Nlmsg::Done`"
Add another `NetlinkSocket` iter function that checks `NlmF::Multi` and ends when `Nlmsg::Done` is the message type.

[2019-07-21 16:42] jbaublitz opened #31 "Allow Nlmsgerr to be returned as an Err type in a Result"
@gluxon You may be interested in this. I'm planning to start checking for `Nlmsgerr` in netlink return packets and passing that back as an error. Two ways I can think of doing this - either implementing `Error` for this data type or adding a variant to `NlError` which wraps an `Nlmsgerr` when that is returned. Thoughts? This may make the parsing issue in #19 just about types instead of types and e

[2019-07-21 19:26] skrap commented on #29
Related: I think the Ifinfomsg struct ser/deser is also incorrect — I will submit a fix once I have some more time to look at it.

[2019-07-23 17:01] skrap commented on #30
I am using a possible implementation of this, which I'll paste in here.  It's a bit wordy because the Option<Result<_,_>> type is not compatible with the `?` operator, so I had to write out some of the error handling by hand.  Feel free to adapt, ignore, copy, whatever :)

[code]

[2019-07-23 17:38] jeromegn opened #33 "Compiling with musl target"
Trying to add neli to a project using the musl target yields 59 errors. All missing constants:

I'm not sure if this is fixable. Sounds like they need to be added to libc for musl specifically. They might have been removed at some point (rust-lang/libc#922).

[code]

[2019-07-24 00:17] jbaublitz commented on #33
Just took a look and you were right on the libc issue. This does seem to be missing from the general module. I'll make a PR to libc and link back here. Thanks for the report!

[2019-07-26 06:09] LuoZijun opened #34 "A copy form this crate"
Hi, @jbaublitz .

I made some changes based on your code, I hope you won't mind.
Finally, thank you for your work, your code has brought me a lot of help.

https://github.com/ExodusVPN/exodus/tree/rewrite/crates/netlink

Why did I create a branch?
Because I want all the operations of netlink to share a single memory (Stack). There is no heap memory allocation throughout the process.

[2019-07-27 17:24] jbaublitz commented on #33
I'm still investigating a bit. I'm doing this in two phases. One is libc support for netlink musl constants but the next phase will be looking at my own code and making sure I don't include any glibc specific constants in my enums. What I'm considering is adding them in in a separate issue and feature flagging them based on target so that it doesn't break musl. I'll keep you posted.

[2019-07-27 17:43] jbaublitz commented on #34
I'm not entirely sure why you'd want stack-only allocation here. I have enabled stack buffer allocation in `neli` using the lower level API and the places where heap allocation is always used is for reasons specific to protection against data loss. Netlink has a lot of corner cases that can lead to message truncation and data loss unless you're completely sure of the exact size of the message size

[2019-07-27 18:16] jeromegn commented on #33
Awesome. Thanks for looking into it for me!

On Sat, Jul 27, 2019 at 1:24 PM John Baublitz <notifications@github.com>
wrote:

[2019-07-30 05:10] LuoZijun commented on #34
thank you for the explanation :)

[2019-07-30 05:10] #34 closed

[2019-08-03 15:56] jbaublitz commented on #33
Update: CI is not passing on libc because there's a bug in nightly with a fix that seems to have been merged. I'm going to try to put together CI in neli for a musl target now so that I can make sure there's no breakage moving forward. rust-lang/libc#1452 is the PR with the work I've done so far for reference.

[2019-08-05 03:12] gluxon commented on #31
This definitely seems like an idea that would work, but I'm curious if it does completely eliminate any reasons to handle different response payload types (like we were talking about in #19).

I couldn't think of any problems in the last 2 weeks, so handling errors as a special case seems like a good way to go.

[2019-08-07 00:23] jbaublitz commented on #33
I updated my CI on master and have [reproduced your pasted errors](https://travis-ci.org/jbaublitz/neli/jobs/568617975#L521). I'm going to see if libc CI is working again in the next few days and try to get this fixed upstream. Thanks for your patience!

[2019-08-08 22:57] jbaublitz commented on #33
I think I've fixed this on master - CI is in place, I'm pointing at my fork of libc for the constants that have not been migrated between modules upstream yet, and I've edited macros to pass through flags disabling the GNU-specific constants. I'll wait until tests pass in CI, but based on local testing, this seems to be resolved. Can you give it a try too before I close this out?

[2019-08-10 13:56] jbaublitz commented on #33
Closing. Post here if it's not fixed.

[2019-08-10 13:56] #33 closed

[2019-08-10 20:59] jbaublitz commented on #29
Some work has been done on this on branch `v0.4.3-r2`. I'm going to look into this at a higher level soon.

[2019-08-12 14:22] jeromegn commented on #33
Appears to work great! Thanks.

Looks like libc was bumped Today, it might include your changes.

[2019-09-07 14:33] jbaublitz commented on #29
I'm going to take a look at this. @skrap Any feelings on changing the `Rtattr` payload type to a generic with the trait bound of `Nl`? I don't think these attributes, contrary to generic netlink attributes, get nested which is the reason I chose more of a builder pattern in that case.

[2019-09-08 16:52] jbaublitz commented on #29
I've taken a look and I'm realizing it may be best to leave the `Vec<u8>` typed payload as is. If different payloads in the same `Vec` have different types, the only way to represent that reasonably seems to be using binary payloads.

[2019-09-08 18:52] skrap commented on #29
Sounds fine to me!

[2019-09-24 11:28] jbaublitz commented on #29
I've just pushed a change to master that wraps `Vec<Rtattr<T, P>>` in a struct `Rtattrs<T, P>`. this will allow me to define helper methods on the attributes for parsing now that @skrap has added attributes everywhere they needed to be. I want parsing attributes to be simpler moving forward.

[2019-09-25 11:49] jbaublitz commented on #29
To be nice to people using the library, I've changed this to target 0.5.0 so that people who need to update don't automatically pull in breaking changes. I'm going to cut a release without the breaking changes as 0.4.3.

[2019-09-27 14:35] Eonm opened #37 "Add support for documentation of enum variants in enum generation macros"
Hi,

It is possible to document each enum variant created with the macro impl_var_trait! ?

[code]
Thanks

[2019-09-28 11:06] jbaublitz commented on #37
Hi @Eonm, I'm going to be reworking the macros as part of #19. I can certainly add support for variant documentation. I don't tend to use it because of the number of enums I support out of the box and I'm not always entirely sure what each one represents due to lack of netlink documentation. However because it's exposed as part of the library, this makes sense to support. I'll edit this issue and

[2019-09-28 15:54] Eonm commented on #37
Indeed, lack of documentation seems to be the rule with netlink.

I tried to figure out how to implement this feature myself, but i never used rust macros before.

Thank you for your reply.

[2019-09-29 18:57] vorner opened #38 "NFLOG support"
Hello

I'm searching for a nice library to use for reading network packets coming from NFLOG and came about this crate. How hard would it be to add support for that protocol?

I'm trying to read the libnl code. From a high level, I have the impression the protocol should be quite simple ‒ sending two control messages, then subscribing into a multicast group and then the packets should start appear

[2019-10-05 17:12] jbaublitz commented on #38
Hi @vorner, in its current state, neli technically does support nflog at the socket level. If you do find out how nflog works, you could create your own structs that implement the `Nl` trait and make that the type of the `Nlmsghdr` payload (the `P` type parameter). If you do end up figuring out the structure of the protocol and want to have me support it in neli, I'd be happy to work it into the l

[2019-10-06 17:22] vorner commented on #38
Thank you for the hint with nfnetlink_log.h. I guess I hoped for somewhat better documentation about how the protocol works, but this might be the missing link. I'll try to reverse-engineer it from some C examples.

[2019-10-06 18:05] vorner opened #41 "Why is NlSocket::send/recv taking `&mut self`?"
Hello

I'm wondering about why does the send/recv method (and send_nl/recv_nl) taking *mutable* self? Looking at the code, there doesn't seem to be a reason to do so.

My motivation for asking is this. There's the NFQUEUE protocol, which allows implementing part of firewall in userspace. The kernel sends packets to userspace over netlink socket and the program sends verdicts back. It is quite comm

[2019-10-08 00:20] jbaublitz commented on #41
Hi @vorner, the reason for this is that there should never be two threads reading from a socket at the same time just as there should never be two threads writing to the socket at the same time. This would cause corruption. Mutable references protect against this issue. It may make sense to implement a method that splits a socket object into one read-only and one write-only handle as I've seen som

[2019-10-08 00:25] jbaublitz commented on #38
I did also find [this code](https://github.com/Alkorin/nflog/blob/master/types.go). If you're familiar with Go, this might be helpful for reconstructing something in Rust. I would build support based on this code myself as I've written a fair amount of Go, but I have nothing I can really test it against as I don't know how nflog is used in Linux. If this helps you and you want to submit a PR, I'll

[2019-10-08 00:56] jbaublitz opened #43 "Evaluate whether trait bounds should be defined at the struct level"
Currently `impl`s are the only enforcer of trait bounds on type parameters in structs for the reasons mentioned here: https://github.com/rust-lang/rust-clippy/issues/1689. Standardize on an approach and verify that everything is consistent within neli.

[2019-10-08 06:04] vorner commented on #41
Does it produce corruption? I thought netlink was message-based, therefore send/recv over it was atomic and could be done from multiple threads even the way you describe.

If that's so, it would still be great to have the read/write half possibility.

[2019-10-08 06:09] vorner commented on #38
You could have just assigned the issue onto me, I'm working on this and I think I'm slowly getting somewhere. For now, I have code that's full of magic constants that'll have to be made into proper types and enums, but I'm reverse engineering the protocol slowly.

As for testing, there's not much, really. Just doing `iptables -I INPUT -j NFLOG --nflog-group 0` and listening onto the group 0 should

[2019-10-08 11:31] jbaublitz commented on #41
I've seen no evidence that sugggests that netlink is atomic, and I've looked again because of this issue. However, that does not mean that it is not atomic, simply that I was unable to find any data specifically on netlink. I will say that I'm wary about relaxing this protection without direct evidence indicating that this is safe. If you can provide me with documentation or netlink kernel code in

[2019-10-08 11:33] vorner opened #45 "Preservation of receive buffer causes underflow"
Sometimes, I get a panic like this:

[code]

I've discovered this is caused by preserving the self.buffer in socket after a receive of an error message ‒ and it seems the kernel sends something after the message, or I don't parse it fully correctly and there are some attributes I don't use.

It seems the next run of the recv_nl tries to reuse the buffer, or its leftover and as this is not the star

[2019-10-08 11:41] jbaublitz commented on #45
Please see #15. There are cases where netlink will return multiple messages. There is an example in that issue that the reporter provided showing that multiple messages can correspond to a single read.

As for the panic, you're correct. That should not happen. I'll take a look at using `checked_sub` instead. I had another contributor add that elsewhere and I intend to standardize on that.

[2019-10-08 11:47] jbaublitz commented on #38
I'll reopen and assign this to you.

[2019-10-08 12:21] jbaublitz commented on #41
Any data that's available in a given message that is not read will be truncated. I view this as orthogonal to the discussion of whether this is atomic or not. I can see that this may be a side effect of atomic reads but I am not convinced that this is an indicator without more concrete evidence. Again, if that's provided, I'm happy to reconsider and change that for v0.5.0. I will also make a note

[2019-10-08 17:04] vorner commented on #45
I'm really surprised that the kernel can send multiple messages in one read, I did think it always corresponded 1:1 with reads/writes.

Anyway, I still have a gut feeling what I have here is some kind of a leftover from the previous message or unparsed garbage, not another message. For one, I'm expecting just one. For another, when I start examining the variables in gdb, the amount of data in the

[2019-10-08 17:07] skrap commented on #45
It makes sense from a performance standpoint.  If the kernel can transmit multiple messages in one syscall, why wouldn't it?
I have personally witnessed this with the rtnetlink subsystem, so I think it's best to assume that it could happen in any subsystem.

[2019-10-08 17:08] vorner commented on #41
I believe that the atomicity of recv/send itself and the fact that no message can span more than one read is an indication that this is safe from the kernel side. There's the question about what to do with sequence numbers and such, though, which is unclear.

Anyway, for my use cases I believe being able to do a split into read-half and write-half does suffice.

[2019-10-08 17:11] jbaublitz commented on #41
I've poked around a bit and I've found documentation that message based reads and writes are indeed atomic in the Linux kernel. This is new information for me, and I appreciate you both pointing me in the right direction. I'll target immutable receivers in `send()` and `recv()` for v0.5.0. I'll probably still do some testing to verify, but this appears to be so well trusted for message-based socke

[2019-10-08 17:16] vorner opened #46 "Ability to turn the PID check off"
Hello

When playing with the NFLOG stuff (#38), I've managed to ask the kernel to start sending the packets to me successfully. It then, however, starts sending them in netfilter messages with PID set to 0 ‒ and the socket refuses to read them using the iterator, because PID 0 doesn't correspond to the PID I got in previous ACK. It doesn't use seq numbers on them either. So, I'd like to have some

[2019-10-08 17:20] vorner opened #47 "Should NlSocket::send/recv return unsigned lengths?"
Hello

I have noticed that the `NlSocket::recv` and `::send` (the raw/low-level ones) return the amount of data read or written as `ssize_t` (which is usually equivalent to `isize`). This mimics the low-level C API. However, negative values indicate errors and these are indicated as `Result` on the Rust side.

Would it be OK if I send a PR changing them to usize for a more idiomatic API? Should I

[2019-10-09 11:53] jbaublitz commented on #47
Hi @vorner, that was intentional and I'd prefer to leave it the way it is. Those are low level calls and as a result I want them to reflect the return value of the underlying calls directly. My rule of thumb tends to be if libc defines a return type in terms of a Rust data type (`u16`, `i32`, etc.), I will use that as this indicates to me that the data type will never change on different architect

[2019-10-09 13:27] jbaublitz commented on #47
Interesting! I looked into this a little more and apparently `size_t` is unsigned. If you want to submit a PR for that, I'd be willing to accept that change.

[2019-10-09 13:31] vorner commented on #47
OK, I'll do that in few days.

By the way, while `usize` and `size_t` can technically be different types, they have about the same requirements ‒ large enough to be able to represent size of any allocable object on the platform. But I'll use `libc::size_t`.

Should I send it to the 0.5-dev branch, as this would be API-breaking change?

[2019-10-12 15:59] vorner opened #50 "What to do when the received message type is not known in advance"
Sometimes, the socket can yield multiple types of messages. Currently, there's not an easy way to handle this situation, as the `recv_nl` and `iter` methods require to know the type in advance. I've hit this in the example added in #48.

One possible way is to use the `recv` call directly and then handle the parsing semi-manually, eg first parse into `Nlhdrmsg<u16, Nlempty>`, and then based on the

[2019-10-12 16:22] vorner opened #51 "Unidirectional message support"
Some protocols have message types that make sense to be sent only in one direction ‒ eg, in the NFLOG (#48), configuration commands are only sent from application to kernel, while packets are only sent from kernel to application.

However, the Nl trait requires both `serialize` and `deserialize` for them. So there's the choice between writing the implementation for the other direction without prac

[2019-10-12 16:41] vorner opened #52 "Limiting number of allocations when parsing"
Hello

I've noticed the `Vec` type is used quite a lot through the crate, especially when receiving and parsing messages (eg. attributes with payloads that are dependent on the attribute type need to first be parsed as Nlattr<T, Vec<u8>>, which does a heap allocation even if the bit of data is small). Allocating a new vector is not completely free and I'm a bit afraid that in certain workloads (pr

[2019-10-12 19:31] jbaublitz commented on #52
I'm skeptical of the assertion that this is actually a performance issue. The mistake I often see in development using systems languages that give you the option of allocation to the stack instead of the heap is the idea that heap allocations will always have a noticeable performance impact. Have you done benchmarks or is this simply a concern? I can tell you that memory allocators are often not a

[2019-10-12 19:34] jbaublitz commented on #51
I'm not sure this makes sense in the context of `neli`. I originally tried using `serde` in `neli` and I've also tried breaking up `Nl` into multiple traits and each time I've tried something like this, it hasn't worked very well because the number of traits ends up exploding and trait bounds get very complicated and hard to reason about. If your only concern is about panicking behavior with `unim

[2019-10-12 20:25] vorner commented on #52
For now, this is only a concern, in this specific case. I've seen allocation to be a bottleneck, though and I can try doing some benchmarks later on.

Empty ones don't allocate and therefore don't deallocate on drop. But ones that actually hold some data do. This is from the documentation of Vec:

Let me disagree here a bit. There are two sizes in play ‒ the vector length and vector capacity. Trun

[2019-10-13 07:10] vorner commented on #51
Well, returning the error is going in the other direction that what I'd like. Anyway, OK, let's not go into the splitting too much.

[2019-10-13 07:10] #51 closed

[2019-10-13 13:57] skrap commented on #50
I have run into exactly this issue as well, and ended up writing my own code to separate the receiving and parsing phases of the connection.  Since the receiving (essentially the read from the socket) and parsing seem to have separate concerns, it might make sense to separate them.  I would prefer that option.

However, personally I find hiding the details inside a macro to often be counterproduct

[2019-10-15 09:18] oherrala opened #54 "Is there a reason to keep Rtattr as type variable in structs?"
For example struct `Rtmsg` is defined to take type variable `T`. It's now required for the user of the crate to match correct enum with correct struct. And it's easy to make mistakes. But is there really a need for this type variable? I quickly tried the following patch to hard code the `consts::Rta` into `Rtmsg` and it just works. After fixes to `examples/route-list.rs`, the example compiles and

[2019-10-16 13:24] oherrala opened #56 "Neighbor table struct (Ndmsg) is broken"
The neighbor table struct `Ndmsg` in rtnl.rs is broken:

 * Rtattrs and rta_type for this is missing
 * Padding is missing from (de)serializing
 * Size calculation is wrong due to above

I have been working to fix it (see https://github.com/oherrala/neli/compare/fix-54...oherrala:add-neigh-rtattrs) and it can currently at least deserialize the response from netlink socket, but it's currently on to

[2019-10-18 02:06] #47 closed

[2019-10-18 02:24] jbaublitz commented on #45
@vorner I agree that there shouldn't be a panic. I'm going to put up a PR to switch over to returning an error if the `usize` value drops below zero. However, the panic you've highlighted here indicates you are incorrectly parsing the data. the length of the entire packet can never be less than the size of the netlink header. I agree that this should be an informative error instead of what you're

[2019-10-18 18:24] vorner commented on #45
Yes, I know, I was parsing it as the wrong type.

But optimally, parsing one message as the wrong type should not damage the socket to the state it won't be possible to consume other messages ‒ if I understand correctly, netlink messages are length prefixed. If I parse one incorrectly, it should still be possible to eat the right amount of data (either give up parsing the wrong type when the lengt

[2019-10-22 00:34] jbaublitz commented on #45
Thank you for your patience. I've been thinking on this a bit. I think providing some way to indicate that a message has failed parsing and moving on to the next one or allowing a re-parse is a great idea. I hadn't considered how to do that so I wanted to take some time to figure out what a reasonable implementation might be. Currently, this is what I propose:

1. Changes to `buffering` crate to s

[2019-10-22 00:37] jbaublitz commented on #52
I'm still looking this over as I think you make some good points. I want to see if there are areas that could potentially be improved here, but it's taking some time for me to look through your suggestions. I apologize for the delay.

[2019-10-23 07:07] vorner commented on #45
To me it sounds reasonable, and probably solves part of #50, allowing to re-parse it as something different. So the error could contain optional u16 as the type and have methods to rewind (and then parse again as another type) and skip.

An alternative is to look for what others do. I've seen many use the bytes crate. That one has a buffer type that can be very cheaply split into smaller (owned) p

[2019-10-24 10:36] oherrala commented on #54
I think this has been fixed in #55. Closing.

[2019-10-24 10:36] #54 closed

[2019-10-27 15:16] #46 closed

[2019-10-30 01:38] jbaublitz opened #59 "Tracking libc PR for nflog constants"
https://github.com/rust-lang/libc/issues/1562

Once this is merged, switch the hardcoded constants over to libc values.

[2019-10-30 01:47] #38 closed

[2019-10-30 01:53] #56 closed

[2019-10-30 02:01] jbaublitz commented on #43
It seems best for now in neli to define by behavior as mentioned in the issue. There are no cases that I've seen reviewing the code that warrant changing this.

[2019-10-30 02:01] #43 closed

[2019-11-02 15:14] #41 closed

[2019-11-02 16:18] jbaublitz commented on #52
I am still thinking through some of this, but I'll respond to the parts I have an answer for.

The one area I agree is that libraries that force me into a certain method of allocation are hard to work with. I would prefer to give the user that control if there's a way to do that that makes sense. There may be a few specific cases where this will absolutely not work (I'm thinking of cases where the

[2019-11-02 16:32] jbaublitz commented on #50
@skrap I understand the frustration debugging macro magic, and I'll consider that. Sometimes this is the most ergonomic way to handle these sorts of situations simply because of type constraints, but I'll look at both of @vorner's suggestions.

@vorner Ideally I'd like to provide some level of control either in a macro or a function call that would allow the user to attempt parsing the data as a t

[2019-11-02 16:33] jbaublitz commented on #50
Blocked by #45

[2019-11-02 16:40] jbaublitz commented on #19
Hi Brandon, finally getting back around to this! I'm going to try to resolve some of these older issues for the v0.5.0 release now that I have a little more time to attend to neli again.

I think you'll be very interested in #50 as this directly ties into some of what you mentioned here. Feel free to give feedback there if you have any thoughts.

I do think when parsing based on a marker trait my

[2019-11-03 17:27] vorner commented on #52
I think such approach would work for me. I'll just note that it would be great to have an example exercising the low-level API somewhere, both for documentation and to make sure everything works as expected :-).

In that case I'll probably hold off and see what happens first. I can write it later as well as now.

I could if I knew what to ask for there 😇. My original idea was to extract the loop i

[2019-11-06 01:54] jbaublitz commented on #52
@vorner I've finally gotten around to looking into `Bytes`. Here are my thoughts.

Overall, I think it could be very helpful and I think the main thing we could do here is provide a single `Bytes` allocation of size `MAX_NL_LENGTH`. `Bytes` is backed by a vector so this would be very little overhead to do a single allocation and then reuse that buffer for operations later. This also allows a prett

[2019-11-06 08:25] vorner commented on #52
Alternative is using combination of Cursor<Bytes>, which implements the [`Buf`](https://docs.rs/bytes/0.4.12/bytes/buf/trait.Buf.html) trait, which is very similar to what `StreamReadBuffer` does (there's similar BufMut for writing). With clever splitting and adjusting the lenghts one could implement the size hints too.

[2019-11-06 23:16] jbaublitz commented on #52
So here are my concerns with that approach:
1. The `Buf` trait does not appear to support native endianness as byteorder does. This is a significant problem as I want neli to be supported for both big and little endian which would get incredibly messy without some kind of option to use the default endianness of the system.
2. Can you propose an interface at the `Nl` level for how this would look?

[2019-11-08 01:31] jbaublitz commented on #19
Take a look at the linked commit above. I think that should resolve this.

[2019-11-08 09:49] vorner commented on #52
Hello

I'm not sure my ideas satisfy the simplicity criterion, but I'd have a sketch of some ideas.

I think the endians is not a *big* problem. It does export LittleEndiand and BigEndian and we could create a type alias for either of them with `#[cfg]` attribute and re-export it. And we could add an extension trait with `get_u16` to it, or maybe ask upstream to add them.

Second, the basic method

[2019-11-08 13:32] jbaublitz commented on #52
I'm going to have to say no here. This provides no obvious benefit that I can see over the use of byteorder, and would even introduce more complexity into my code. I can even see using `Bytes` and `Cursor` together, which was what I was considering adding into buffering based on your suggestion, and still using one of byteorder's provided traits to read out the integers. This is not an allocation

[2019-11-08 17:20] vorner commented on #52
OK, I was just providing possible alternatives :-).

[2019-11-10 01:56] gluxon commented on #19
Hey, sorry for the late response. I won't have time for an in-depth code review but if it implements what you proposed above I'm definitely excited for it. 🙂

Will do. The poster there is asking the question I was.

[2019-11-23 16:55] jbaublitz commented on #52
@vorner Hello! I haven't forgotten about this. I've been trying to prioritize this for new development as I think it's going to be the most complicated change from an API perspective. What I've been doing is working on the buffering crate, and on the `v0.5.0-dev` branch, I have the beginning of a stateless read method which will actually take over most of the work of deserialization from neli. It'

[2019-12-01 17:09] jbaublitz commented on #52
Hi @vorner. You were absolutely right here! Upon first glance, it makes a bit more sense to place the parsing logic in neli as opposed to buffering. I was doing some exploration in buffering and I came up with a few ideas for how to make parsing easier and I'm going to use that moving forward. I wasn't thinking it through, however, and bumped into the problem with `impl Trait` on arbitrary types.

[2019-12-21 12:13] vorner commented on #52
Hello

Sorry for taking that long to have a look and read your answer. I guess macros are fine, but it would be great if even the manual way without macros would be somewhat sane, even if eg. more verbose.

[2019-12-21 14:23] jbaublitz commented on #52
I don't think this will be a concern in how I'm implementing the neli implementation. You get a raw `Bytes` or `BytesMut` object in the `Nl` traits moving forward as of v0.5.0 and you can choose to parse that any way you like (including using a `Cursor` in only one `serialize` implementation for example) as long as the contract of passing in a `Bytes`/`BytesMut` object of the exact length of the b

[2020-01-14 16:09] vorner commented on #52
When playing with the library, I've discovered few more places that would benefit from lesser amount of Vec's around. I believe these would be more easy / local fixes than the above and I'm willing to send pull requests if you agree with them.

* Flags usage. Eg the [`Nlmsghdr`](https://docs.rs/neli/0.4.3/neli/nl/struct.Nlmsghdr.html) needs a flags field, specified as a vec. One can reuse the Nlms

[2020-01-19 23:24] #59 closed

[2020-02-08 09:47] mbakhoff opened #71 "open netlink socket with CLOEXEC"
The netlink socket is opened without the CLOEXEC flag. Rust standard library sets CLOEXEC for all the stuff it opens. Maybe it would make sense to do it in neli as well to avoid accidental leaks when creating child processes?

Should be easy to change in src/socket.rs NlSocket::new but it does have some backward compatibility concerns..

See also: https://github.com/rust-lang/rust/issues/12148

[2020-02-08 14:55] jbaublitz commented on #71
This seems very reasonable for v0.5.0. Just a note that I'm catching up after a long vacation so it may take a bit.

[2020-02-11 10:25] cxdong opened #72 "NlSocket::set_mcast_groups takes the group parameter as bit index"
By looking into the kernel implementation of netlink_setsockopt, when the optname is NETLINK_ADD_MEMBERSHIP, kernel takes the optval as the group id directly but not as a bit index.

The current implementation of NlSocket::set_mcast_groups seems takes the group parameter as some bit index vector, and then calculate to the group id number. This looks like not necessary and complicated.

If need to

[2020-04-04 18:21] jbaublitz opened #78 "implement tokio trait Sink for socket::tokio::NlSocket"
I have not gotten around to this yet and am putting this up as a placeholder so I can merge #75.

[2020-04-11 18:43] jbaublitz commented on #19
This should be fixed via e868974ad4885ea8e4f04038a6ebb9de589ffcf1. Closing.

[2020-04-11 18:43] #19 closed

[2020-04-11 18:44] jbaublitz commented on #20
Work started in branch `v0.5.0-dev`.

[2020-04-11 18:44] jbaublitz commented on #26
Work started in branch `v0.5.0-dev`.

[2020-04-11 18:45] jbaublitz commented on #45
This should be resolved in branch `v0.5.0-dev`. Closing.

[2020-04-11 18:45] #45 closed

[2020-04-11 18:48] jbaublitz commented on #50
This should be resolved in branch `v0.5.0`. In particular, there is a new method in `recv_nl` which allows the caller to control the behavior of rewinding or skipping on error. This, in addition to new flexibility in constants (see #19) should resolve this issue.

[2020-04-11 18:49] #50 closed

[2020-04-11 18:50] jbaublitz commented on #52
This should be resolved in `v0.5.0-dev`. I'm going to do additional work on this at the feature level so I'll leave this open. Hopefully the result will be three levels of heap allocations:
* `prefer-heap`
* `prefer-stack`
* `disable-heap`

[2020-04-11 18:52] jbaublitz commented on #71
See the linked PR. Once CI passes, I'll merge and this can get closed out. Thanks for letting me know about this and for your patience!

[2020-04-11 19:11] #71 closed

[2020-04-11 19:12] jbaublitz commented on #72
This should be fixed in branch `v0.5.0-dev`. I reworked the API significantly. Closing.

[2020-04-11 19:12] #72 closed

[2020-04-12 05:23] mbakhoff commented on #71
Awesome, thanks!

[2020-04-12 11:56] jbaublitz opened #83 "Add convience methods and builder pattern for neli struct construction"
Currently, constructing larger and more complicated packets to be sent over netlink is not necessarily intuitive. Add some convenience functions for common use cases to avoid having to specify every field each time a header is created.

[2020-04-17 16:13] dhl opened #84 "nla_type is incorrectly parsed for nested attributes"
# Summary
`neli` parses `nla_type` incorrectly for nested attributes.

# Version
0.4.3

# Expected Behavior
Given a nested attribute with `nla_type` set to `1000000000001000b` (decimal 32776) in the message payload, `neli` should parse the `nla_type` as `0000000000001000b` (decimal 8).

# Actual Behavior
`neli` incorrectly parses attribute type `1000000000001000b` as `1000000000001000b`

# Descrip

[2020-04-18 08:35] gluxon commented on #84
Reference:

https://github.com/torvalds/linux/blob/90280eaa88ac1a9140dc759941123530d5545bb6/include/uapi/linux/netlink.h#L216-#L228

[2020-04-18 15:01] jbaublitz commented on #84
I remember bumping into that documentation when writing the attribute handling code that I have. While this should definitely be considered a bug and be fixed, there are two reasons it's not there:
1. I think I meant to provide a way to exact those bits and the type itself separately at some point. That clearly never happened so thank you for reporting this.
2. The kernel subsystem I work in predo

[2020-04-18 15:16] jbaublitz commented on #30
This is now able to be toggled on or off in the `.iter()` function in the branch `v0.5.0-dev`. Closing.

[2020-04-18 15:16] #30 closed

[2020-04-18 19:11] gluxon commented on #84
Thanks for explaining here! Bugs happen. 🙂

Do you think those fields are useful to consumers of neli? (I'm not sure myself.) I can see the nested bit being useful, but I think it's worth noting that `netlink.h` chose to just mask out those bits in their implementation of [`nla_type()`](https://github.com/torvalds/linux/blob/29d9f30d4ce6c7a38745a54a8cddface10013490/include/net/netlink.h#L1063-L106

[2020-04-18 19:24] jbaublitz commented on #84
I do think I need to include those bits but how I go about it is up for debate. It may also be reasonable to add those boolean fields at the `Nlattr` level as opposed to the `nla_type` level as that might be easier for a user to interact with. What do you think?

I'm happy to release a version of `v0.5.0-rc1` but I cannot release on the `v0.4.x` track because I've already merged breaking changes i

[2020-04-18 19:39] gluxon commented on #84
Ah understood.

I do lean towards that. Although these bits are in nla_type, they're really attribute level information so it makes sense from that perspective. The downside of having these at the `Nlattr` level is that it deviates from the C implementation. I think that's fine but I'm not sure how you feel about that.

[2020-04-18 21:17] jbaublitz commented on #84
I think that even though it deviates from the C implementation, it's more understandable as an abstraction so it would probably be more user friendly. I'll put up a PR, tag you both in it to test, and if it works for you, I'll cut a release candidate.

[2020-04-19 07:49] dhl commented on #84
Thanks, @jbaublitz, for responding to this so quickly!

I agree with @gluxon that if we do want to keep the flags, `Nlattr` does seem like a better home than having them in `NlaType`.

Really grateful to the both of you for helping with this.

[2020-04-26 16:38] #84 closed

[2020-04-26 18:58] jbaublitz commented on #37
This should be resolved in commit b00b0bbc7a7975a0cd43d831a40541c63e0e52df. Closing.

[2020-04-26 18:58] #37 closed

[2020-05-03 01:55] jbaublitz commented on #31
I've decided to add an `Error` implementation in `v0.5.0-rc1` but it won't be take advantage of until the major breaking changes in `v0.5.0-dev`. My decision to use the library `buffering` has put me in a position where I can't do very much to make this usable in `v0.5.0-rc1` as it requires so parsing of individual fields of messages in a way that just isn't possible.

[2020-05-03 02:00] jbaublitz commented on #31
Mostly resolved by bac0f02c1b1ed6d4f0dff7f6f1cb835964f74422. I'll leave this open until I add the resolution to branch `v0.5.0-dev`.

[2020-05-03 02:52] jbaublitz opened #86 "Make all neli struct fields private and generate/implement getters for fields"
I'm toying with the idea of exposing all packet creation through convenience methods like `new()` and others as mentioned in #83 and autogenerating getters for all of the fields in the packets. This would provide a few things:
* Less confusion on how to construct packets. All of the methods will be documented.
* Getters will be available to read the fields for use with responses that have been des

[2020-05-03 02:57] jbaublitz commented on #84
`v0.5.0-rc1` is released.

[2020-05-17 15:55] gluxon commented on #84
@jbaublitz Hey John, thanks for the patch. You may be interested in the source of this change, which I believe is this kernel patch last year.

https://github.com/torvalds/linux/commit/ae0be8de9a53cda3505865c11826d8ff0640237c

While applying the fix on https://github.com/gluxon/wireguard-uapi-rs I discovered that kernel versions after this patch require the `NLA_F_NESTED` set for messages sent. Ju

[2020-06-22 04:26] joshtriplett opened #87 "resolve_genl_family hangs if kernel returns NLMSG_ERROR"
If the kernel doesn't have a generic netlink family (such as because the module implementing that family hasn't been loaded), it'll return an `NLMSG_ERROR` message. `resolve_genl_family` ignores that and proceeds to wait forever for an ack that will never arrive.

I *think* that `recv_nl` should be checking for an error.

[2020-06-24 12:47] jbaublitz commented on #87
Hi @joshtriplett! Thanks for the issue. I'm actually taking a look at the `recv_nl` component of this for #31. I've been trying to take a phased approach to releases as I establish a new process for supporting older versions.

I think that the release `v0.5.0-r2` (which should be out very soon) should do what you're looking, but I'll double check just in case. Just be aware that the only way I was

[2020-06-24 15:59] joshtriplett commented on #87
Major API changes aren't a problem; I'm just glad you may have a fix. Happy to test from git as soon as you have a potential fix posted.

[2020-06-27 22:20] jbaublitz commented on #87
@joshtriplett Just wanted to let you know that as I was finishing this up, I realized I need to do a little bit of restructuring before the next release. The basic idea is splitting the message parsing code out into its own module so that all operations that interact with sockets (higher-level calls like `recv_nl`/message iteration and lower level calls like `recv`) can take advantage of certain f

[2020-06-27 22:28] jbaublitz opened #88 "Factor out nested attribute parsing into its own module"
Because both generic netlink and routing netlink can have nested attributes, factor this parsing code out into its own module that can be used in both cases.

@gluxon I was just going through my email, and I'm filing an issue for this so that I don't forget about it. Let me know if you have any feedback in the meantime!

[2020-06-27 23:16] gluxon commented on #88
@jbaublitz No comments so far, but glad this is on the radar. Thanks!

[2020-06-28 05:13] joshtriplett commented on #87
@jbaublitz That sounds great, thank you!

[2020-07-08 12:42] jbaublitz commented on #87
@joshtriplett I got your message on IRC and would be happy to chat on IRC when you're back on or here if I can be of help!

[2020-07-08 22:46] joshtriplett commented on #87
@jbaublitz Just wanted to check back about the revised error handling, and find out a little bit more about what the API might look like. I'm interested in trying it out.

[2020-07-11 15:27] jbaublitz commented on #87
Hi @joshtriplett, I'd recommend starting with building against the branch `v0.5.0-dev`. That's where the changes will be pushed soon and it's worth resolving the compilation errors when updating as those will still be there once the new error handling is added. Does that help?

[2020-07-11 15:58] jbaublitz opened #89 "Provide a heap, low-allocation heap, and alloc option for the buffer types in neli"
The interface that I've defined for v0.5.0 should work with the lifetimes around slices. Provide this as an alternate option that does not require the bytes crate.

[2020-07-11 19:59] joshtriplett commented on #87
@jbaublitz I've looked at the `v0.5.0-dev` branch, and I plan to try that out as soon as the new error handling is available.

I'm currently trying to make use of the NBD netlink interface, and discovered that attempting to `resolve_genl_family` for nbd hangs if nbd is modular and not loaded, so I'm continuing to use the NBD ioctl interface for now.

[2020-07-28 22:18] jbaublitz commented on #87
For anyone following along, @joshtriplett and I chatted and I'll be branching a simple fix for the 0.4.0 version. This bug will be resolved completely differently in 0.5.0, but because the refactoring in 0.5.0 is very involved, it will take a bit longer for the next release candidate.

[2020-08-04 23:59] jbaublitz commented on #87
@joshtriplett Can you test the branch `0.4.x` and see what the behavior is there? If it doesn't resolve the problem (which I doubt it will to be honest), I can add some custom error parsing in the case of the `0.4.x` branch that will return an `NlError` so you at least have something to work with until v0.5.0 is released.

[2020-08-05 07:50] joshtriplett commented on #87
@jbaublitz That fixed the primary issue, and `resolve_genl_family` now returns an error rather than hanging. Thanks!

It would certainly be nice for `recv_nl` to be able to handle getting a netlink error instead of the expected packet, and parse that error enough to provide the errno, in a type-safe way. But that can absolutely wait; the fix currently on the `0.4.x` branch is enough to get NBD wor

[2020-08-05 23:38] joshtriplett commented on #87
@jbaublitz Thank you so much for `neli`; it feels so *comfortable* to use.

[2020-08-06 00:08] jbaublitz commented on #87
@joshtriplett I'm glad this partially resolved it! Depending on how much time I have, I may try to do some patchwork parsing in the `0.4.x` branch for you but I'm really trying to get rid of the 0.4 versions moving forward because of the huge API improvements from a maintenance standpoint in the v0.5.x versions. If I find that I don't have enough time to implement it on both branches, I'll release

[2020-08-06 05:41] joshtriplett commented on #87
@jbaublitz I'd be happy with the current state of the 0.4.x branch as a release; any better error handling could go in 0.5.x, since it'd likely need API changes anyway.

[2020-08-08 23:16] joshtriplett opened #90 "Please remove `pub` from the `impl_*` macros and allow the caller to specify that"
In a library crate, I'd like to use the `impl_*` macros to define constants for a specific netlink protocol, but I don't want to expose any of those types as part of the library API. Those macros currently use `pub` explicitly. I've worked around this by putting them in a `mod private { ... }` block, but I'd rather not have to do that. Please consider changing the macros to define types/traits wit

[2020-08-11 03:39] joshtriplett commented on #87
Fixed in the 0.4.4 release. Thanks!

[2020-08-11 03:39] #87 closed

[2020-10-25 13:17] jbaublitz commented on #90
Closed by 02a8f1ac46cb2fab5706e9137535d5d6019052d7

[2020-10-25 13:17] #90 closed

[2020-10-25 13:17] jbaublitz commented on #31
This is now resolved in `v0.5.0-dev`.

[2020-10-25 13:17] #31 closed

[2020-11-25 13:46] jbaublitz commented on #88
@gluxon This is now in the `v0.5.0-dev` branch. I'm going to try to put out a release today. I'm just doing documentation clean up.

[2020-11-25 21:20] jbaublitz commented on #89
Closed in favor of using slices always.

[2020-11-25 21:20] #89 closed

[2020-11-25 21:21] jbaublitz commented on #52
I've removed all of the allocations that I can at the moment. Closing.

[2020-11-25 21:21] #52 closed

[2020-11-25 21:21] jbaublitz commented on #29
Closing.

[2020-11-25 21:21] #29 closed

[2020-11-25 21:24] jbaublitz opened #94 "Add netfilter support in v0.5.1"
Some of the code is already there. Work on clean up and testing.

[2020-11-25 21:32] jbaublitz opened #95 "Bug in rtnetlink"
Find and fix bug in rtnetlink code causing the example for listing routes to fail.

Blocking v0.5.0 release.

[2020-11-25 21:33] jbaublitz commented on #88
Merged. Closing.

[2020-11-25 21:33] #88 closed

[2020-11-25 22:53] jbaublitz commented on #95
Closed by a43e0697491a1bbdb808e1370fb579f83173ab46

[2020-11-25 22:53] #95 closed

[2020-11-27 11:39] jbaublitz opened #96 "Add support for audit"

[2020-11-28 22:19] jbaublitz opened #97 "Fix bug in ACK handling in v0.5.0"
ACK handling appears to be broken in v0.5.0.

[2020-12-01 01:01] jbaublitz opened #98 "Migrate to Github Actions"

[2020-12-01 01:11] jbaublitz commented on #97
Fixed by v0.5.1

[2020-12-01 01:11] #97 closed

[2020-12-05 10:32] phip1611 opened #99 ""the trait `neli::consts::genl::Cmd` is not implemented" Problem with impl_var/impl_trait for custom types"
Hi,
first of all thanks for the great lib. I'm using 0.4.4 in an uni project and it works great.
I wanted to update to 0.5.1 but **I'm struggeling with my custom types**. Maybe the macros `impl_trait!` and `impl_var!` doesn't work or the documentation is misleading?

I did for my custom type exactly what you did in `neli::consts::genl` for `CtrlCmd`. But in my case it always tells me `"the trait '

[2020-12-05 10:36] phip1611 commented on #99
Okay if I add `impl neli::consts::genl::Cmd for OveyOperation {}` after the `impl_trait` line it works. But is this intended?! Shouldn't this be done automatically?

[2020-12-05 16:04] jbaublitz commented on #99
Hi @phip1611. Thanks for reporting this! The reason for this is that `impl_trait` has been changed to implement a custom wrapper type as referenced in the last code block of the [docs here](https://docs.rs/neli/0.5.1/neli/macro.impl_trait.html). I can see a few potential possibilities that may satisfy what you're looking for. One is that you can open a PR to add your constants upstream and then I

[2020-12-05 16:09] jbaublitz commented on #86
@ollipa Given that this is somewhat unrelated to the builder pattern and more related to the visibility of struct fields after the builder has been used to build those structs, I'm going to count this as separate and leave this open as orthogonal work.

[2020-12-05 16:11] jbaublitz commented on #83
@ollipa Do you mind if I add you to assignees here just to keep track of the fact that we're working on this together?

[2020-12-05 17:16] #98 closed

[2020-12-05 17:55] jbaublitz opened #101 "Re-evaluate serde"
serde might be an option for a layer underneath the `Nl` trait to replace or use beside the macros for serialization and deserialization. This could be beneficial for users that want to serialize a JSON representation of netlink packets for logging, etc.

[2020-12-05 17:57] jbaublitz opened #102 "Try testing netlink communication in Github Actions"
Now that neli is using Github Actions, try interaction with ACPI and other netlink subsystems.

[2020-12-05 18:03] phip1611 commented on #99
I think packaging custom types into neli is the wrong approach. This would result in never ending pull requests for new types... :)  There should be an easy way for everyone to declare their custom types inside their own crate/outside of neli. I think an adjustment to the macro would be the best option :) , i.e. that one is not longer forced to add `impl neli::consts::genl::Cmd for MyCustumOperati

[2020-12-05 18:25] jbaublitz commented on #99
If this is a custom netlink family (as it appears it is based on the issue you linked to), I agree that it might be best to leave it out of neli. I wasn't sure if you were looking to add support for an existing family.

I'm happy to put up a PR for this for you to test out and look over if you'd like!

The wrapper type is due to some of the inherent type unsafety in the netlink protocol. In the ge

[2020-12-05 19:29] phip1611 commented on #99
@jbaublitz Yes I was talking about custom generic netlink families. Sorry, I should have said that. I think you are going to better understand the problem I want to address when you read the comments of the PR #103.
I'd love to hear what you think.

[2020-12-07 02:02] jbaublitz opened #105 "Improve error messaging"
Created due to #103

@phip1611 I'm envisioning the following for the `SerError` and `DeError` structs which generated the error that was confusing for you. Because a lot of these errors are autogenerated in the `serialize` and `deserialize` macros, how does this sound? `SerError` and `DeError` will include the type of the object being serialized or deserialized, an optional struct field if it's a

[2020-12-07 05:08] ollipa commented on #83
Sure add me to the assignees :ok_hand:

[2020-12-07 09:28] phip1611 commented on #105
`SerError and DeError will include the type of the object being serialized or deserialized, an optional struct field if it's a struct being serialized`
This sounds perfectly right. This will help to either identify problems in a custom netlink implementation (when writing a custom kernel module) or perhaps to find some other neli-bugs. @jbaublitz

[2020-12-08 13:20] jbaublitz commented on #105
Okay great! I'll put up a PR once I finished the design for you to look over.

[2020-12-14 10:46] chrboe opened #106 "Support for user specific header"
Generic netlink supports a "user specific message header" between the genlmsghdr and the payload:

[code]
(source: https://lwn.net/Articles/208755/)

Am I missing something or does neli not support writing to this header? I couldn't find any hints to it in the code or documentation.

[2020-12-14 11:30] jbaublitz commented on #106
Hi @chrboe, thanks for the report! While I am relatively familiar with netlink at this point, most of that information comes from the documentation in the header files and the sub-protocols I've personally interacted with. As a result, there are occasionally features that I miss. I'm happy to add in support for this though. Because I really don't want to break compatibility for users using the 0.5

[2020-12-14 11:57] chrboe commented on #106
That sounds great, thanks :slightly_smiling_face:

I'll be happy to review and test any progress :+1:

[2020-12-18 11:38] joshtriplett opened #107 "Consider using bitflags crate in place of impl_flags macro and FlagBuffer"
It doesn't seem necessary to store flags in a Vec and bitwise-or them together when serializing. Flags could be stored as bitflags all the time.

It might be possible to switch to the bitflags crate rather than reimplementing a bitflags mechanism. That would also provide additional convenience methods, such as converting between the bitflags wrapper type and the underlying numeric type.

Enough of

[2020-12-18 12:57] joshtriplett opened #108 "NlSocketHandle::iter() shouldn't force use of NlTypeWrapper"
`NlTypeHandle` is a convenient abstraction for when you need to parse a message and don't know what kind of `nl_type` value to expect.

However, if you have a specific type of message to parse, it would be more convenient to directly get an `Nlmsghdr<T, P>` where `T` is one of the specific types like `Rtm` that implements `NlType`.

Unfortunately, `NlSocketHandle::iter()` only can only provide an

[2020-12-18 21:29] joshtriplett opened #109 "Ifaddrmsg serialization/deserialization uses the wrong size for ifa_flags"
In the course of forward-porting https://github.com/jbaublitz/neli/pull/92 , I ran into a bug in the definition of `Ifaddrmsg`: the serialization and deserialization tries to use `IfaFFlags`, which is a 4-byte value, but the flags field in the message is a 1-byte field. (Messages that use the larger `IFA_F_*` values provide an attribute containing 4-byte flags that supersedes the 1-byte flags fiel

[2020-12-20 12:58] jbaublitz commented on #107
Hi @joshtriplett! I actually have looked into the bitflags crate, but because you can only use the bitflags macro for integer types, this doesn't work very well with my enum approach. Obviously if I'm missing something, I'm open to reconsidering, but in the documentation it states:

If there's a clever way to get around this, I'm open to discussing, but if there isn't, I think having a statically-

[2020-12-20 13:04] jbaublitz commented on #108
When I made this decision, this was prior to @phip1611's feedback on using neli with custom netlink families that will not be contributed upstream. I made the faulty assumption that most people would just want to contribute their families upstream, but this was operating under the assumption that these families would be generally applicable and included in the Linux kernel. Given that I already do

[2020-12-21 14:01] jbaublitz commented on #105
I'm still working on this as is requires more information to be passed to the macros for error messages. Because I consider macros part of the API, I will need to make some rather invasive changes to accomplish that.

[2020-12-21 14:13] phip1611 commented on #105
Don't worry, take your time. Happy holidays/merry christmas and thanks for your effort! 🎅🎄 @jbaublitz

[2020-12-24 07:36] joshtriplett commented on #107
@jbaublitz I'm not suggesting that all enums can use bitflags, only those whose values are designed to work as flags and get bitwise ored together. Those could be defined as bitflags of the appropriate size, and that would give you all the desired operators. bitflags also handles the case of values that aren't specified, which it can still store and return as raw bits.

[2020-12-24 07:38] joshtriplett commented on #108
@jbaublitz That sounds perfectly reasonable to me, together with the change to make `NlMessageIter` implement `Iterator` for a broader set of types.

[2020-12-24 07:41] joshtriplett opened #111 "Consider using two different types for IfaFFlags: 1-byte and 4-byte"
`IfaFFlags` gets used in two different ways: as a 1-byte value that can only handle the first 8 values, and as a 4-byte value that can handle the extended values in the upper bytes. The former appears directly in the initial struct of `Ifaddrmsg`, while the latter requires passing a 4-byte attribute.

As discussed in #92, please consider splitting these two cases into different flags types, with a

[2020-12-24 07:54] joshtriplett commented on #102
To avoid making CI dependent on the capabilities and permissions of whatever Linux environment it runs in, I would suggest separately capturing dumps of netlink conversations based on examples like `getips`, and incorporating each of those dumps and corresponding neli structure constants into two separate tests: one that takes the dump and deserializes it to see if it's identical to the constant,

[2021-01-04 00:42] jbaublitz commented on #107
@joshtriplett As discussed on Zulip, I'll investigate switching only the bitflag types over to `bitflags` and leaving the constants as-is.

[2021-01-04 00:49] jbaublitz commented on #106
Hi @chrboe, I was on vacation for the past two weeks, but I'm going to start looking into this in the next week or so!

[2021-01-04 01:09] #109 closed

[2021-01-04 13:43] phip1611 opened #116 "Socket buffer should clear itself after deserialize failure happened, because afterwards all operations fail"
I use neli custom generic netlink families. I'm pretty sure that this time the bug is inside neli and not my kernel module. I'm sending an error message from the kernel. `nl_type` is `NLMSG_ERR (0x2)` and the payload is only `struct nlmsgerr`.

(If I send regular messages everthing works. I can send thousands of messages in a loop without bugs. It's about the struct nlmsgerr in this case.)

I'm pr

[2021-01-04 13:46] phip1611 commented on #105
As mentioned here https://github.com/jbaublitz/neli/issues/116: It would be super useful if neli could also tell at which offset it failed or give more details / give detailed information about the bytes that could be deserialized and the ones that could not be deserialized. But I imagine this would be hard to implement with the current archtiecture, right?

 For example `nlmsg_len is 6 bytes but

[2021-01-04 20:34] phip1611 commented on #116
*UPDATE* This seems to work in neli 0.5.2 but not in 0.5.1. Since upgrading to 0.5.2 it works I guess :)

[2021-01-05 05:20] joshtriplett opened #117 "Ifinfomsg ifi_change field should be IffFlags"
The `ifi_change` field of `Ifinfomsg` is a bitmask of potentially multiple `Iff` values, which currently means it should have type `IffFlags`, not `Iff`. This will allow reading kernel-supplied values that have multiple flags set, or sending a multi-flag bitmask to the kernel.

(If those types merge in the future this won't be an issue.)

[2021-01-05 07:52] slyshykO opened #121 "update tokio to 1.0"

[2021-01-05 20:39] joshtriplett opened #122 "Getting an AttrHandle for rtnl attributes?"
Given a `Genlmsghdr`, you can call `get_attr_handle` to get an `AttrHandle`, from which you can call things like `get_attr_payload_as`.

However, I don't see any means of doing the same with an rtnl message. You can get an `AttrHandle` for nested attributes, but not for the top-level attributes in the message.

[2021-01-08 21:21] joshtriplett opened #123 "Remove length argument for NlAttr::new"
NlAttr::new accepts an optional length argument; when not passed, NlAttr determines the length automatically. As discussed on Zulip, it doesn't seem likely that anyone would ever want to have a length that doesn't match what NlAttr would calculate (since it wouldn't fit the data). Removing the argument would make NlAttr easier to use.

[2021-01-08 21:28] joshtriplett opened #124 "Remove nested argument for NlAttr::new"
NlAttr::new accepts an argument to set the "has nested attributes" flag for the attribute. However, this flag should generally match the presence of nested attributes. NlAttr::new could drop that argument, and instead automatically set the flag to `true` when adding a nested attribute.

For the benefit of kernel protocols that handle the nested flag incorrectly, there could be a `set_nested` metho

[2021-01-08 21:34] joshtriplett opened #125 "Use a builder method for the network-endian flag of NlAttr::new"
NlAttr::new accepts a boolean flag indicating whether the packet is host-endian (`false`) or network-endian (`true`).

In the next major revision, please consider changing that to a builder method (`.set_network_endian`), to make invocations more self-documenting, and briefer for the common case of not changing the default.

[2021-01-10 16:34] jbaublitz commented on #122
You're right that there are no convenience methods for this. You can construct an `AttrHandle` like so:

[code]
for example. I understand that this might not be ideal and I'm happy to discuss a better way of doing this.

Given that `RtBuffer` is contained in a wide variety of structs, I'm hesitating to just implement a helper method for each one. I'd prefer potentially moving the `.get_attr_handle

[2021-01-10 16:37] jbaublitz commented on #121
I'm going to check if this introduces any breaking changes in neli's interface. If it does, I'll have to wait until v0.6.0. If not, I can update this sooner.

[2021-01-10 16:43] jbaublitz commented on #125
Closing in favor of #83 as this is related to that discussion.

[2021-01-10 16:43] #125 closed

[2021-01-10 16:44] jbaublitz commented on #83
See PR #93 for a more in depth discussion.

[2021-01-10 16:46] jbaublitz commented on #116
To debug this effectively, could you provide me with a pretty printed representation of the entire buffer that gets read from the socket with no processing?

[2021-01-10 16:50] #99 closed

[2021-01-10 16:53] jbaublitz commented on #116
I can definitely work on further improving that error message. Please provide that suggestion in the linked PR so I can keep track of it.

This is not exactly possible. Due to the nature of netlink being a datagram protocol, resetting the buffer could cause the user to lose data that was sent in a packet after the packet currently being processed. I would be happy, though, to offer a method to fas

[2021-01-17 21:47] joshtriplett commented on #122
@jbaublitz Having a `get_attr_handle` method on `RtBuffer` and `GenlBuffer` sounds perfectly reasonable to me. Thank you.

[2021-01-17 22:54] jbaublitz commented on #122
Okay excellent! I'll probably put this out in the next patch release.

[2021-01-31 21:59] jbaublitz opened #126 "Make all macros accept trailing commas"
Some of the macros accept trailing commas and some do not. Make them all consistently accept trailing commas would be an improvement from a consistency standpoint to avoid confusion.

[2021-02-12 12:48] jbaublitz commented on #116
@phip1611 Is this resolved?

[2021-02-12 13:15] #121 closed

[2021-02-13 07:42] phip1611 commented on #116
I have this on my todo list. I have an uni exam next week but after that I'll have time to look at this again.

[2021-02-13 17:30] #108 closed

[2021-02-13 17:31] #117 closed

[2021-02-13 17:38] jbaublitz commented on #105
I'm going to keep working on this but follow along with #101. So far, it's looking promising and will allow much better logging in this regard for debugging purposes.

[2021-02-14 07:53] phip1611 opened #133 "Always add NlmF::Request as default behaviour (or if no flags are present) because Kernel requires it and libnl does it too"
`Nlmsghdr::new()` takes field `nl_flags: NlmFFlags` which can be initialized like this: `NlmFFlags::new(&[NlmF::Request]),`. If the provided array is empty, i.e. `REQUEST (0x1)` is NOT present, the kernel rejects the request and doesn't forward it to the callback inside the kernel. Kernel reference: https://elixir.bootlin.com/linux/latest/source/net/netlink/af_netlink.c#L2487
This can result in a

[2021-02-14 11:48] #122 closed

[2021-02-14 11:58] jbaublitz commented on #133
This one is a little bit complicated because netlink can also be used for IPC between processes in userspace. Let me do some tests for this because theoretically someone could also be using `send` from a userspace process to return a response for the request and in this case, `NlmF::Request` should not be set. My initial reaction is that this is better addressed by #104 where we can clearly differ

[2021-02-14 13:40] phip1611 commented on #133
I see, it would make sense there @jbaublitz. But what do you think about the following solution. You know if a socket targets the kernel when `NlSocketHandle` was created with destination `pid==0`. Wouldn't it make sense to check in `send` if destination `pid==0` and add the flag `NlmF::Request` in that case?

If you implement the presence of this flag on a higher level (request module) then there

[2021-02-14 13:49] jbaublitz commented on #133
I'm happy to add documentation, but the point of the lower level API is to give developers complete control over the implementation details. Each layer of abstraction does a little bit more management than the last so I still think that if people are using the lower level API, they will have to do a little bit more reading on netlink and if they use the higher level API, I can manage it for them.

[2021-02-15 15:31] Kloenk opened #134 "nl80211 does not always sends data."
Some nl80211 commands does only return a Ack, and no data messages. This breaks the current assumptions of NlSocketHandle.

[2021-02-15 15:41] phip1611 commented on #133
I'm not sure what would be a good place for documentation on this specific topic. I'd love to write a comment directly on `NlmF::Request` but because you generate the enum by macro (`src/consts/nl.rs` =>
[code]
) instead of doing it "statically"/"typically", it's not possible to add doc comments on specific fields. I could extend the comment
[code]
but this doesn't show up on **docs.rs** -  only i

[2021-02-17 10:08] phip1611 commented on #133
To workaround the problem with doc comments I mentioned in the previous reply:

What do you think about the idea of the following, breaking refactoring for a future release:
Declare enums like `NlmF` again in the classic way and implement the traits with a procedural macro. Like this:
[code]
This would require a new `neli-codegen` package as dependency of `neli`. If you are interested in this, we

[2021-02-18 13:20] jbaublitz commented on #133
This can actually be solved using declarative macros without the need for procedural macros. Let me see if I can put up a PR and get your feedback on it.

[2021-02-20 11:42] phip1611 commented on #116
Hi! I have an update on this @jbaublitz. Originally I created this because I had problems with `NLMSG_ERR` replies. I can now verify that `neli` has indeed a bug with parsing `NLMSG_ERR` replies, at least in my case. I'm sure this is a bug of neli, because other libraries (like `libnl` for `C` work). Also the packet buffer looks fine.

**What I did**
Very basic custom Netlink family (in custom Ker

[2021-02-20 13:54] jbaublitz commented on #116
@phip1611 If I'm understanding the picture that you posted of the strace run, this is actually a bug in your kernel module. As you can see [here under the `nlmsgerr` documentation](https://www.man7.org/linux/man-pages/man7/netlink.7.html), error messages should never send back the payload of the offending message, only the header:

[code]

It appears from your diagram that you are passing back the

[2021-02-20 13:59] jbaublitz commented on #116
I am happy to work on the original request, but this appears to be working as intended.

[2021-02-20 14:17] phip1611 commented on #116
You're right in the regard that `neli` follows the Netlink manpage @jbaublitz . But I just found **Netlink manpage and the Linux kernel code do not match.**  The manpage is wrong when it tells that there is only the Netlink header. It is the complete original packet, including all its payload.

Technically it is not my kernel module that sends the ACK message but the Netlink system (`net/netlink/a

[2021-02-20 14:35] jbaublitz commented on #116
There does appear to be a documentation discrepancy. I will have to think about this a bit because it appears that there are times where the payload is passed back and others where it is not even when it is an error. I think that's going to be the data structure challenge for this.

[2021-02-20 14:38] phip1611 commented on #116
PS: One more proof for this: https://elixir.bootlin.com/linux/v5.11/source/include/uapi/linux/netlink.h#L113

I try to find out where I can submit a patch for the Netlink manpage.

[2021-02-20 15:02] jbaublitz commented on #116
@phip1611 I've added a bug report template for future bug reports and has a section specifically devoted to netlink documentation mistakes. This seems to happen rather often.

[2021-02-21 01:40] fpagliughi opened #136 "Serialization error"
Hi. I'm trying to send a link up (or down) request to a CAN bus interface like this:

[code]

but keep getting a serialization error:
[code]

Am I doing something obviously stupid?
Thanks

[2021-02-21 15:06] jbaublitz commented on #136
I'm unable to reproduce this on the master branch. Are you using 0.5.2? If so, it could be related to #118. I plan to release 0.5.3 sometime today.

[2021-02-21 15:57] fpagliughi commented on #136
Yes this was with v0.5.2. I will try `master` right now...

[2021-02-21 16:15] fpagliughi commented on #136
Yup, that seemed to do the trick! It's working now.

Thanks for the quick reply.

[2021-02-21 16:20] jbaublitz commented on #136
Not a problem! The release is just blocking on #138.

[2021-02-21 16:20] #136 closed

[2021-02-21 23:23] fpagliughi opened #140 "Missing CAN bus constants here and libc"
Hi. Question...

We're looking at using `neli` in the Linux [socketcan](https://github.com/mbr/socketcan-rs) package, but it seems that the constants for CAN are missing, like:
[code]
...and a bunch more.

Normally I would just send a pull request, but these are also missing from `libc`, and my initial attempt to get them added to libc today has failed due to issues with tests in other platforms t

[2021-02-22 09:26] phip1611 commented on #140
Hi @fpagliughi ! If you wan't to use custom constants with neli, I've probably got your back. Please see my PR #103 , especially this part: https://github.com/jbaublitz/neli/blob/35355fce96a9bfe9e9f14e474e3d4cd9d733f001/examples/custom_generic_nl_family_custom_types.rs#L39

Does this help you? From my understanding, this is what you want/need.

[2021-02-22 13:44] fpagliughi commented on #140
Hi @phip1611 . Thanks, I will have a look at this.

[2021-02-27 20:44] jbaublitz opened #141 "mcast_membership methods do not work appropriately"
@Kloenk I'm working on #138 and bumped into another bug. I'm uncertain whether this is a newer kernel change but:

[code]

is not working with kernel `5.4.0-65-generic`. After looking into the documentation and the kernel code, I'm not seeing a change from `groups` being a bitmask to a single value or an array and this may be leftover from when I used to set the `nl_groups` field in the netlink so

[2021-02-27 22:00] Kloenk commented on #141
Not worked with mcast yet, not event looked up what the do :-).
Im only working with the normal nl80211 family, on the kernel packaged as kernel in nixpkgs. Not sure of the exact version at the moment.

[2021-02-27 22:09] jbaublitz commented on #141
Okay, I'll assume this is a bug.

[2021-03-04 10:13] hube12 opened #142 "Add getSockName to get the pid of the netlink link"
**Would adding this feature cause a breaking change?**
no

Hello,
I would like to see if it would be possible to add such function to socket.rs (and expose it in the handle)
[code]
(help for source : https://docs.rs/nix/0.20.0/src/nix/sys/socket/mod.rs.html#1647 )

This would allow to get the registered pid of the netlink socket after binding, I think it would be a nice addition, however as it use

[2021-03-13 16:14] jbaublitz commented on #142
Hi Neil! I think this is a great idea. My initial response is that this belongs in `NlSocketHandle` with a lower level method in `NlSocket`. How does that sound to you? Given that the PID of a socket is autoassigned if 0 is passed in, I think this would be very helpful to provide.

[2021-03-13 16:48] jbaublitz commented on #140
@fpagliughi If you outline all of the constants you want added, I'd be happy to put up a PR with libc and then add then to neli once they're released!

[2021-03-13 18:07] hube12 commented on #142
@jbaublitz That sounds great, I can make a quick PR with that code as a lower level method and a higher level exposed method to use it (since I already use it in my fork). Or if you want to do it, well I gave you most of the pointers ;).

[2021-03-21 08:24] #116 closed

[2021-03-21 08:57] #141 closed

[2021-03-21 09:11] #102 closed

[2021-03-21 11:20] #134 closed

[2021-03-21 12:53] jbaublitz opened #147 "Expand the tokio functionality"
**Would adding this feature cause a breaking change?**
Yes

Currently, tokio support primarily targets multicast groups with the `Stream` trait. Provide some additional convenience methods just like in `NlSocketHandle`.

[2021-03-21 13:53] jbaublitz commented on #106
@chrboe Now that the most recent bug fix release is out, I'm circling back to this. I did have one question before I begin: is there an indication for parsing that the user-specific header is present? This is part of the problem with netlink: parsing seems to rely pretty heavily on stateful parsing in some cases and simply the client knowing what is being sent back to it in others. I'd like to fin

[2021-03-22 11:49] chrboe commented on #106
Purely from looking at the source code, it would seem like the [`Hdrsize` controller attribute](https://github.com/jbaublitz/neli/blob/main/src/consts/genl.rs#L56) indicates the size of the user specific header for a family. I would guess that this gets set to 0 when the family has no user specific header.

[2021-03-24 09:31] jbaublitz commented on #106
That may be hard to implement from a parsing standpoint given that to get to the right offset for the attributes, I need to know the size of the user specific header. It appears that even in `libnl`, getting the attributes requires [specifying a user header length](https://www.infradead.org/~tgr/libnl/doc/api/group__genl.html#ga800671a530b4c7a6fca7b5b43c8ca5aa). For now, I'll take the type approac

[2021-03-24 09:35] chrboe commented on #106
Yep, `libnl` passes around the user header length all over the place.

The type-based approach looks fine to me :+1:

[2021-03-24 09:42] jbaublitz commented on #106
Great! I'll start on this ASAP!

[2021-04-03 23:56] joshtriplett opened #149 "Returning Ack/Empty from recv/iter is a breaking change in 0.5.3"
**Version of neli**
0.5.3

**Describe the bug**
The change to make recv/iter return NlPayload::Ack or NlPayload::Empty messages breaks existing code that relied on it not returning such messages.

**To Reproduce**
Steps to reproduce the behavior:
Build and run 0.5.2's `getips` example on 0.5.3, and observe the error.

0.5.3 has been released at this point, and I can update the code I was using to

[2021-04-04 00:17] joshtriplett commented on #149
Corrected the title and message: the actual failure seems to stem from processing messages with `NlPayload::Empty`.

[2021-04-04 12:34] jbaublitz commented on #149
I understand the concern, and I don't intend to do this again, but this was under the larger umbrella of a bug fix. I will try to put up some sort of guidelines around breaking changes vs. bug fixes and request your feedback on it as I think this sort of question is not always necessarily straightforward. For example, if a user depends on broken behavior and a patch version fixes that behavior, I

[2021-04-05 02:37] joshtriplett commented on #149
Most crates I've seen do tend to treat that as a breaking change, if anyone actually depends on the previous behavior, and if the previous behavior was actually usable.

The principle I've sometimes used is, if something had a bug that made it not possible to use correctly, such that any possible code using it would fail at either compile time or runtime, then it's absolutely OK to break its ABI i

[2021-05-02 12:57] jbaublitz commented on #101
@joshtriplett I've been a bit absent on GIthub mainly because I've been working on this issue for a while. I know you had previously asked why I was storing flags as a vector and I am beginning work on fixing that up in my serde implementation. I wanted to ask what you see as the best design choice here. The options I see are:

1. allocate a slice that has a size large enough to hold all flags
2.

[2021-05-02 13:00] jbaublitz commented on #126
This may not be an issue as I've been working on #101 and this will remove the previous set of macros.

[2021-05-02 13:03] jbaublitz commented on #149
Okay I'll keep this in mind! For now I'm going to close this and err on the conservative side moving forward. I don't think I really need documentation on this and can just ensure that there are no breaking changes in patch versions moving forward even if I've documented them and they're a part of a bug fix. That sounds totally reasonable putting myself in a user's shoes.

[2021-05-02 13:03] #149 closed

[2021-05-29 22:07] jbaublitz commented on #101
I'm beginning to think that serde won't be flexible enough to handle this. The ultimate problem here is that serde, to some extent, doesn't seem to be targeted towards something like network packet parsing. netlink has quite a bit of conditional parsing that varies widely from struct to struct (for example, the payload type differing depending on whether the packet type is an error or not, the pay

[2021-08-07 02:41] tammela opened #151 "Tcmsg is impossible to build in let statement"
**Version of neli**
0.5.3

**Does the documentation specify that neil's behavior is correct?**
No.

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**
No.

**Describe the bug**
It's impossible to build Tcmsgs to send out in the socket due to  private padding fields.

**To Reproduce**
[code]

[2021-08-07 02:50] tammela opened #152 "Nlmgs containing Tcmsg fails serialization"
**Version of neli**
0.5.3

**Does the documentation specify that neil's behavior is correct?**
Not related.

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**
Not related.

**Describe the bug**
Serialization of Tcmsgs seems to be bugged.
It's reporting `The number of bytes written to the buffer did not fill the given space` for very simple messages.

In a

[2021-11-07 22:32] #111 closed

[2021-11-07 22:32] #151 closed

[2021-11-08 12:29] Gottox opened #155 "Inconsitence behavior between C and Rust API"
**Version of neli**
0.6.0

**Does the documentation specify that neli's behavior is correct?**
yes:

[code]

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**
No further information available yet.

**Describe the bug**
In contrast to the C API of netlink, *neli* does not pass nl_group to the kernel through the `bind()` call. Instead *neli* sets the group

[2021-11-09 00:04] jbaublitz commented on #155
Hi @Gottox, I need to do more research on this one, but if I'm remembering correctly from the last time I looked deeply into this code, the reason for this is a difference in the format of the bind call.

For some context, my original code used the `nl_groups` parameter, but at a certain point, this stopped working. I read up on it a bit and found out that `nl_groups` appeared to be considered dep

[2021-11-09 00:12] jbaublitz commented on #152
@tammela Can you please take a look and see if this is still a problem in v0.6.0? I've heavily improved the serialization code. If it hasn't, I'll fix it and add some tests.

[2021-11-09 00:13] jbaublitz commented on #105
@phip1611 Is the improved logging sufficient for debugging?

[2021-11-09 00:13] #123 closed

[2021-11-09 00:15] jbaublitz commented on #126
This appears to be largely irrelevant after the most recent release.

[2021-11-09 00:15] #126 closed

[2021-11-09 17:11] phip1611 commented on #105
@jbaublitz hm, any idea how I can easily provoke a parsing error, so that I can verify?

PS: I played a little bit around with the latest neli version. Looks good and error handling works fine too.

[2021-11-10 13:29] jbaublitz commented on #105
@phip1611 One way I can think of pretty easily is to serialize an `Nlmsghdr` and then artificially increase `nl_len` in the binary representation and deserialize the buffer. You want trace logging enabled.

My main thoughts on the logging is that it may be able to be improved and if you have feedback on what you'd like to see, I'll immediately put out a patch release with logging for, for example,

[2021-11-18 22:03] jbaublitz commented on #133
@phip1611 Now that 0.6.0 is out, I think we can add in the documentation for NlmF::Request more easily.

[2021-11-18 22:12] jbaublitz commented on #124
Pushing this back 0.7.0.

[2021-11-18 22:23] jbaublitz commented on #152
Considering this closed by 16854b52d52fefed8e3ce3337b58499d23723934

[2021-11-18 22:23] #152 closed

[2021-11-21 15:20] jbaublitz opened #156 "Fix debug output for various data structures"
**Would adding this feature cause a breaking change?**
For some changes, yes. Others can be included in a patch release.

**Is your feature request related to a problem? Please describe.**
Debug output is currently very unhelpful for types like flags, buffers, etc.

**Describe the solution you'd like**
I would like:
* `Buffer` to hide the bytes it contains
* `FlagBuffer` to be replaced by bitflags

[2021-12-08 14:07] Kloenk opened #158 "RtBuffer encoded with invalid length"
**Version of neli**
v0.6 & main

**Does the documentation specify that neil's behavior is correct?**
no, the kernel errors out with `netlink: 'linux::netlink:': attribute type 29 has an invalid length.` and Wireshark with `<MISSING>`

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**
No

**Describe the bug**
RtAttributes are encoded with invalid length. H

[2021-12-08 14:40] Kloenk commented on #158
Setting the initial length to 4 Fixes the problem. This makes me think, that length of the header is forgotten to be computed at creation time.

Given that `Rtattr::set_payload` increments the rta_len I don't see any gain, only the possibility of errors in making the length an option accessible to the user as input to the new function.

[2021-12-16 18:19] #105 closed

[2021-12-16 18:24] jbaublitz opened #161 "rta_len is a dead parameter"
**Version of neli**
0.6.x

**Describe the bug**
This parameter should be removed in 0.7.0.

Related to #158

[2021-12-18 17:18] jbaublitz commented on #155
@Gottox Did this resolve your issue?

[2021-12-26 16:44] #158 closed

[2022-01-02 12:39] isomer opened #165 "neli::tokio::NlSocket can't decode NLMSG_DONE."
**Version of neli**
v0.6.0

**Does the documentation specify that neil's behavior is correct?**
It's unclear.

But:

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**

I'm having trouble tracing exactly what's going on, so I'm not entirely sure who is at fault here, however parts of neli work and other parts don't, so I suspect the problem is somewhere in

[2022-01-08 18:11] isomer opened #166 "poll_read_priv unconditionally clear_ready!()"
**Version of neli**
0.6.0

**Does the documentation specify that neil's behavior is correct?**
No - tokio says you only should clear the ready signal when the socket would block.

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**
This is independent of netlink, it's a misuse of the tokio apis.

**Describe the bug**

neli::socket::tokio::NlSocket uses an A

[2022-01-09 13:28] jbaublitz commented on #165
@isomer Thanks for reporting this!

A few notes:

Firstly, please look at #147 and provide feedback if you have any input. I want to expand tokio functionality further but I'd like some feedback from people who are actually using it. If you have thoughts on the existing implementation or desired features, please leave them there!

I'm currently adding your code to the example directory so that I c

[2022-01-09 13:48] jbaublitz commented on #166
@isomer Thanks for reporting this! This misuse is largely due to a corner case that I bumped into in a separate project. In this project, we are forced to clear the readiness on each file descriptor readiness indicator as this file descriptor is not actually readable and returns an IO error when you attempt to do so. I talked with the tokio team and they agreed that in this corner case, you do hav

[2022-01-09 15:06] jbaublitz opened #168 "Padded size procedural macro feature"
**Would adding this feature cause a breaking change?**
No

**Is your feature request related to a problem? Please describe.**
#164

**Describe the solution you'd like**
There need to be some changes to the `Size` procedural macro to allow defining a field as padded when the size is calculated. This is particularly necessary for situations where the container type expects the internal data structur

[2022-01-09 15:07] jbaublitz commented on #155
Closing. Feel free to let me know if it's still a problem!

[2022-01-09 15:07] #155 closed

[2022-01-11 20:26] isomer commented on #166
Yes, if you have a fd that doesn't have a traditional "read" signal then you'll always have to clear it, but as you point out that isn't the case here.  The pull request seems to fix the problem.

[2022-01-11 23:12] isomer commented on #147
Since you asked for opinions:

1) If neli::{NlSocket,NlSocketHandle} share a function in common with neli::tokio::NlSocket, they should ideally have the same function signature and do the same thing (modulo asyncronous behaviour).   This is because examples (both here, and found elsewhere) are often using the blocking API, and it makes it easier to adapt to your program if they work the same way b

[2022-01-16 14:45] isomer opened #170 "Support ExtAcks"
**Would adding this feature cause a breaking change?**
Maybe - Depends on how it's implemented.

**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I get errors like "EINVAL" back from the kernel.  Figuring out exactly what is invalid is complicated and annoying.

**Describe the solution you'd like**
The kernel appears to support "extacks" which are exten

[2022-01-16 15:23] jbaublitz commented on #170
Hi @isomer! I've seen this capability described in the kernel code before but hadn't dug into it too much. This seems like it could absolutely be valuable! What I'm mostly confused about is what you mean by `NlPayload::Err(_)` returning an IO error. That should only happen if there was an error in the socket operations themselves in which case you won't receive a netlink packet error in return. Th

[2022-01-16 23:38] isomer commented on #170
You're right, I had forgotten I convert things to a std::os::Error very early on and thought that it was neli doing that.  My apologies.

I played with it a little bit this evening trying to make a simple example case to demonstrate what currently happens.  And it turns out that it muddles the attributes into the nlmsg!  So you get a combination of both your attributes, *and* the NLMSGERR_ATTR att

[2022-01-27 23:00] #165 closed

[2022-01-27 23:00] #166 closed

[2022-02-14 17:11] fpagliughi opened #174 "Build of examples is broken"
**Version of neli**
Tested:
`master` branch
`neli-v0.6.1` branch

**Describe the bug**

[code]

**To Reproduce**

`$ cargo build --examples`

or

`$ cargo test`

**Expected behavior**

Build & run unit tests without error. :-)

**Additional context**

Running on Linux Mint 19 (Ubuntu 18.04)

[2022-03-15 23:18] jbaublitz commented on #106
@chrboe Hey! This is my next feature that I'm working on. I understand since it's been literal years, you may have moved on but I'd love to have you test it or tell me how I can test it for future users. Is there an existing netlink family that uses this?

[2022-03-24 02:22] #133 closed

[2022-03-24 02:23] #106 closed

[2022-04-24 13:37] isomer opened #178 "Add from<libc::c_uint> for IffFlags"
**Would adding this feature cause a breaking change?**
No.

**Is your feature request related to a problem? Please describe.**

`rtnetlink(7)` describes Ifinfomsg.ifi_change as:
[code]

However this is ugly to do with the existing IffFlags type, the best solution I've found is:
[code]
This is setting a flag with multiple bits, which seems wrong.

**Describe the solution you'd like**

Implement `Fr

[2022-04-27 21:14] jbaublitz commented on #174
Hi @fpagliughi, I've looked into this and I see a few options. For one, I provide a Cargo.toml file in the examples directory though that may be good to remove and opt for using the `cargo build --examples` command instead. It doesn't look like cargo supports compiling examples only if a feature is enabled so I'll likely have to conditionally compile `async_nl80211.rs` as

[code]

if the async fea

[2022-04-27 21:36] jbaublitz commented on #178
Hi @isomer, this is likely a documentation bug. I've looked at the kernel code and it uses flags like `IFF_UP`/`IFF_DOWN` to control interface status so it does not need to always be set to `0xffffffff`. I even saw on Github that it seems to work around passing in 0 to change all flags to the flags passed in:

https://github.com/torvalds/linux/blob/master/net/core/rtnetlink.c#L863-L866

My thought

[2022-06-12 15:54] jbaublitz commented on #178
Hi @isomer! I think I'm going to move forward with the "all flags set" option if you don't have any additional feedback. I'm also going to be hopefully starting on #107 soon.

[2022-06-12 15:56] #174 closed

[2022-06-13 23:05] isomer commented on #178
This seems reasonable, I think I'd still prefer a way to convert in/out to the underlying type, but this covers enough of my use case to solve my problem and I'm not that tied to needing a particular solution.

so all flags set, and bitsets seems reasonable to me.

[2022-07-08 13:37] #142 closed

[2022-07-12 15:08] jbaublitz commented on #178
I decided to add your original functionality suggestion. I'm putting up a PR shortly.

[2022-07-13 13:41] #178 closed

[2022-07-13 21:01] isomer commented on #170
This looks fantastic!  Thank you very much, this will make debugging much much more pleasant and much easier to understand what's going wrong.

I've left a comment in the PR with I think a minor improvement - Should the u16 instead be a enum?  Especially given it's an enum in the C header.

If nothing else, it'll make Debug dumps a little bit clearer for people who are trying to debug wtf going on

[2022-07-31 17:03] jbaublitz commented on #107
This is closed in #182!

[2022-07-31 17:06] jbaublitz commented on #107
Whoops! This should stay open until that's merged.

[2022-08-16 11:04] rvql opened #194 "Proper way of `addattr32`"
**Is this a question about neli specifically? If so, please describe.**

I'm trying to do a RTM_GETNSID query with neli, and have problem adding a NETNSA_FD attribute after Rtgenmsg. I managed to bypass the problem by adding a Nlattr manually, with the following code:

[code]

The equivalent code in C looks like:
[code]

Sorry if this is a dumb question.

[2022-08-17 11:34] jbaublitz commented on #194
Hi @rvql! This may actually be a bug. `Rtgenmsg` was added by an external contributor and it looks like attributes are not allowed to be set for that type yet. If you have a use case where attributes are needed after this type, then we should fix this!

[2022-08-17 16:16] rvql commented on #194
The use case is querying net namespace id from file. The request packet consists of a `Nlmsghdr`, a `Rtgenmsg` and an extra `Nlattr` after it. The example code in C is [here](https://github.com/shemminger/iproute2/blob/main/ip/ipnetns.c#L106).

As a beginner with netlink, I'm not sure whether this `Nlattr` should be part of `Nlmsghdr` or `Rtgenmsg`.

[2022-08-23 08:38] Alexandero89 opened #195 "Parsing different NlAttrType Enums for different received Cmds"
Hey,

I'm sorry if the response to this is somewhere in the docs, but i searched them and read a lot of issues but still could not find a solution for my problem.
Issue #50 seems to be relevant, but could not find an exact solution after reading it.

Neli version: 0.6.2

I am using the async Socket neli::socket::tokio::NlSocket to wait for messages from the socket via:
[code]

Now i am forced to g

[2022-08-24 14:01] jbaublitz commented on #195
Hi @Alexandero89! Your use of `u16` and then conversion to the correct type after matching on `MYCMDS` is generally the way to do it. It is hard to come up with a better way to handle the general case because netlink has such a wide range of formats that have to be supported by neli. Does that code cause errors that I can help you with or did you just want to check if this was the best way to do i

[2022-08-24 14:08] Alexandero89 commented on #195
Hey John,

Thanks for your response!

Actually this were some function calls I thought are non existent. Because I could not find a function with an enum as an input value (like the get_attr_handle_as example I used).
Because this kind of implementation would be completely fine for me.

But I will have another look and try to implement it like this.

[2022-08-24 14:23] jbaublitz commented on #194
@rvql I took a look at `addattr32` and, as I expected, it's following the typical rtnetlink format.

Netlink in general has the following format:

[code]

`addattr32` jumps to the end of the packet after all headers and attributes and adds another one then adjusts `n.nlmsg_len` to reflect the new length. What I just need to do is add support for attributes after `Rtgenmsg` and this should resolve

[2022-08-24 15:17] jbaublitz commented on #195
Okay, I think I see what you're missing now. So the current way to do this is to get the field `nla_type` and parse the `u16` as `ATTRIBUTES_COMMAND_ONE` or `ATTRIBUTES_COMMAND_TWO` manually using `ATTRIBUTES_COMMAND_TWO::from(attribute.nla_type.nla_type)`. This is admittedly not very nice so let me look into adding an API like the one you specified above.

[2022-08-25 02:33] rvql commented on #194
Great! Thank you very much!

[2022-08-28 15:34] jbaublitz commented on #168
There doesn't seem to be a good way to derive this. Reverted in #182 and closing.

[2022-08-28 15:34] #168 closed

[2022-09-02 20:52] jbaublitz commented on #194
This is now resolved by f05308cd0cab47bd89c40df744a9a1bd661ce473 in #182

[2022-09-02 20:58] jbaublitz commented on #147
@isomer I'm sorry I never replied to this! I'm probably going to target this for 0.8.0 because as you can see from #182, there's already so much going into 0.7.0.

[2022-10-17 23:16] saethlin opened #196 "Heap buffer overflow in list_mcast_membership, NetlinkBitArray length units confusion?"
**Version of neli**
default branch or 0.6.2

**Does the documentation specify that neil's behavior is correct?**
Nope.

**Does there appear to be a mistake in the netlink documentation based on the kernel code?**
No idea.

**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to run the test suite with `RUSTFLAGS=-Zsanitizer=address`
2. See error

https://github

[2022-10-18 13:41] jbaublitz commented on #196
@saethlin Thanks so much for the bug report! I need a little bit more information on how you got the test suite running with the sanitizer. Currently, I'm bumping into issues where I'm getting a lot of error messages about undefined symbols in dependencies of neli. I'm not sure if you bumped into this, but I need a workaround before I can reproduce the error or test the fix.

[2022-10-18 14:14] saethlin commented on #196
[code]
should do the trick. `-Zbuild-std` is generally advised with sanitizers, and `--target` is required otherwise for whatever reason Cargo tries to build all your proc macros with the sanitizers. Doctests might still have linking issues, I've never figured that out.

[2022-10-18 14:37] jbaublitz commented on #196
Okay great, thanks! So just to give you an overview of what's going on in this code, `new()` rounds up to the nearest multiple of u32. 4 is kind of a silly number to provide because it'll be rounded up to 32 bits (4 bytes, 1 `u32` element in the array) and there are certainly more multicast groups than that for netlink. That should be changed regardless of whether it's causing the problem or not.

[2022-10-18 17:02] jbaublitz commented on #196
Hmmmm... this may actually be a bug somewhere below neli. I'm seeing that there's an 8-byte write when `getsockopt()` is called. My understanding based on [this code](https://github.com/torvalds/linux/blob/v5.18/net/netlink/af_netlink.c#L1766-L1787) is that the units of `optlen` are bytes, not `u32`s so I think the units returned by my `.len()` method are correct. I have no idea where the 8 byte w

[2022-10-18 17:28] saethlin commented on #196
Nice to hear you're just as confused by that 8-byte write as I was

[2022-10-18 17:31] jbaublitz commented on #196
So I have an update that leads me to believe this is a bug in the sanitizer. I can't see any code in the kernel that would generate this 8 byte write. I also ran valgrind and it did not detect that memory corruption error. Valgrind did however catch a memory error that the sanitizer did not and I found the bug in my code.

[2022-10-18 18:39] jbaublitz commented on #196
@saethlin Are you okay with me closing this or do you want me to investigate further?

[2022-10-18 19:12] saethlin commented on #196
If you're confident you've debugged this with Valgrind and found the bug here then I think this should be closed and I'll try to report the ASan issue.

[2022-10-19 13:16] jbaublitz commented on #196
I'll close this for now. If you report this to the maintainers of the address sanitizer code and they are confident that the 8 byte write is caused by me, I'm happy to reopen and investigate further. For now, the only confirmed bug and memory error I could find was the one valgrind picked up.

[2022-10-19 13:16] #196 closed

[2022-11-08 18:37] jbaublitz commented on #147
See #20 for more information (I've tagged you there too), but I think I have an idea for a rework of NlSocketHandle that might meet this requirement.

In my redesign, I'd like to make all methods take `&self` which should allow you to simply wrap it in an `Arc<_>`. Would this be satisfactory for you?

This should be resolved in 0.7.0 by #182. Submit anything I've missed that you need in terms of `

[2022-11-08 19:08] jbaublitz commented on #20
@isomer You've previously provided some incredibly helpful feedback around how you're using neli in the context of both multicast groups and request-reponse workflows. This is exactly what I want to target with this issue. This issue is related to #147 and whatever API I come up with for `NlSocketHandle` I want to match in `tokio::NlSocket`. My best idea that I can come up with is reworking `NlSoc